Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

Update Kernel.sc
  SCClassLibrary/Common/Core/Kernel.sc
Due: sc_empty_blank_lines

u8"\u2060\u2060"++"::LAST::>"
  SCClassLibrary/Common/Core/Kernel.sc
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

Update help_browser.cpp
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

fix cmd/ctrl + 0
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

fix refresh
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

fix shortcut for HelpBrowser Refresh on mac
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

fix mac shortcuts
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

revert to e8ffbb2 (fix cmd/ctrl + 0)
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

Update editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

cmake: use ...deployqt6 on qt6
  editors/sc-ide/CMakeLists.txt
Due: none

cmake: don't install utf8proc
  external_libraries/CMakeLists.txt
Due: none

Update SoundFile.schelp
  HelpSource/Classes/ExampleFiles.schelp
  HelpSource/Classes/PathName.schelp
  HelpSource/Classes/SoundFile.schelp
  SCClassLibrary/Common/Files/ExampleFiles.sc
  SCClassLibrary/Common/Files/SoundFile.sc
  testsuite/classlibrary/TestNetAddr_Server.sc
Due: sc_empty_blank_lines

Update ExampleFiles.sc
  HelpSource/Classes/ExampleFiles.schelp
  HelpSource/Classes/PathName.schelp
  HelpSource/Classes/SoundFile.schelp
  SCClassLibrary/Common/Files/ExampleFiles.sc
  SCClassLibrary/Common/Files/SoundFile.sc
Due: sc_empty_blank_lines

replace \r with \n
  examples/demonstrations/bit_reduction.scd
Due: sc_empty_blank_lines

align multiple consecutive empty lines and fix the single indentation issue
  examples/demonstrations/bit_reduction.scd
Due: sc_empty_blank_lines

Update build_linux.yml
  .github/workflows/build_linux.yml
Due: none

Update help_browser.cpp
  HelpSource/Classes/HelpBrowser.schelp
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

Update overriding_action.hpp
  editors/sc-ide/core/util/overriding_action.hpp
Due: clang_format, clang_lint

Update HelpBrowser.schelp
  HelpSource/Classes/HelpBrowser.schelp
Due: sc_empty_blank_lines

Move Windows Ctrl+R blocker to private static member and document its purpose
  editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/help_browser.hpp
Due: clang_format, clang_lint

fix cmd + behaviour
  editors/sc-ide/core/util/overriding_action.hpp
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

fix cmd + on mac
  editors/sc-ide/core/util/overriding_action.hpp
  editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/help_browser.hpp
Due: clang_format, clang_lint

uncomment some code lines
  editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/help_browser.hpp
Due: clang_format, clang_lint

fix cmd + on mac
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

restore unnecessary changes
  editors/sc-ide/core/util/overriding_action.hpp
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint
