Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

bufStartFrame -> bufStartFrame.asInteger
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines

fileStartFrame -> fileStartFrame.asInteger
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines

index -> index.asInteger
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines

numChannels -> numChannels.asInteger
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines

numFrames -> numFrames.asInteger
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines

channels -> channels.asInteger
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines

Update Buffer.sc
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines

Update HelpSource/Classes/Window.schelp
  HelpSource/Classes/Window.schelp
Due: sc_empty_blank_lines

Reflect reviews
  HelpSource/Classes/Window.schelp
Due: sc_empty_blank_lines

add .asInteger to var count in getToFloatArray method
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines

Add `.asInteger` to `numFrames` and `numChannels` of `Buffer.alloc`
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines

Update Platform.schelp
  HelpSource/Classes/Platform.schelp
Due: sc_empty_blank_lines

Remove `helpSourceDir` and deprecate `helpDir`
  HelpSource/Classes/Platform.schelp
  SCClassLibrary/Platform/Platform.sc
Due: sc_empty_blank_lines

restore var <helpDir due to CI workflow run failed for the previous commit
  SCClassLibrary/Platform/Platform.sc
Due: sc_empty_blank_lines

add `ratiocent` and `centratio`
  SCClassLibrary/Common/Collections/SequenceableCollection.sc
  SCClassLibrary/Common/Core/AbstractFunction.sc
  SCClassLibrary/Common/Core/Symbol.sc
  SCClassLibrary/Common/Math/Signal.sc
  SCClassLibrary/Common/Math/SimpleNumber.sc
Due: sc_empty_blank_lines

Add method documentation to the corresponding schelp files
  HelpSource/Classes/AbstractFunction.schelp
  HelpSource/Classes/SequenceableCollection.schelp
  HelpSource/Classes/SimpleNumber.schelp
  HelpSource/Overviews/Operators.schelp
Due: sc_empty_blank_lines

cmake: fix sclang final build
  QtCollider/primitives/primitives.h
  common/SC_Version.hpp.in
  lang/CMakeLists.txt
  lang/LangPrimSource/OSCData.cpp
  lang/LangPrimSource/PyrSched.cpp
  lang/LangPrimSource/SC_ComPort.cpp
  lang/LangSource/PyrSched.h
  lang/LangSource/SC_CLIOptions.hpp
Due: clang_format, clang_lint

gha: remove unneeded fftw install for macos
  .github/workflows/build_macos.yml
Due: none

build: enable supernova on all platforms
  .github/workflows/build_macos.yml
  .github/workflows/build_windows.yml
  CMakeLists.txt
  README_MACOS.md
  README_WINDOWS.md
Due: none

Update README_MACOS.md
  README_MACOS.md
Due: none

Classlib: SynthDesc.sc: Whitespace changes (prep for real content)
  SCClassLibrary/Common/Audio/SynthDesc.sc
Due: sc_empty_blank_lines

Classlib: Remove the 255-arg limit imposed by SynthDesc
  SCClassLibrary/Common/Audio/SynthDesc.sc
Due: sc_empty_blank_lines

Testsuite: SynthDesc: Tests for msgFunc
  testsuite/classlibrary/TestSynthDescMsgFunc.sc
Due: sc_empty_blank_lines

server: do not skip .so files in 'top-level' directories
  server/scsynth/SC_Lib_Cintf.cpp
  server/supernova/sc/sc_ugen_factory.cpp
  server/supernova/sc/sc_ugen_factory.hpp
Due: clang_format, clang_lint

Classlib: SynthDesc: Cleanups for makeMsgFunc
  SCClassLibrary/Common/Audio/SynthDesc.sc
Due: sc_empty_blank_lines

Classlib: SynthDesc: Don't generate msgFunc if there are no valid args
  SCClassLibrary/Common/Audio/SynthDesc.sc
Due: sc_empty_blank_lines

Create Size.schelp
  HelpSource/Classes/Size.schelp
Due: sc_empty_blank_lines

Update UGen.schelp
  HelpSource/Classes/UGen.schelp
Due: sc_empty_blank_lines

Classlib: SynthDesc: Better fix for msgFunc for empty arg list
  SCClassLibrary/Common/Audio/SynthDesc.sc
  testsuite/classlibrary/TestSynthDescMsgFunc.sc
Due: sc_empty_blank_lines

Classlib: SynthDesc: makeOneMsgFunc --> prMakeOneMsgFunc
  SCClassLibrary/Common/Audio/SynthDesc.sc
Due: sc_empty_blank_lines

Update Size.schelp
  HelpSource/Classes/Size.schelp
Due: sc_empty_blank_lines

build: check for bison errors when changing bison file as pre commit
  .pre-commit-config.yaml
  .vscode/tasks.json
  lang/LangSource/Bison/make_parser.sh
  tools/generate_parser_bison.sh
Due: none

move to system command
  .pre-commit-config.yaml
  tools/generate_parser_bison.sh
Due: none

sclang: remove unused rules in grammar
  lang/LangSource/Bison/lang11d
  lang/LangSource/Bison/lang11d_tab.h
Due: clang_format, clang_lint

fix rebase
  lang/LangSource/Bison/lang11d
  lang/LangSource/Bison/lang11d_tab.cpp
Due: clang_format, clang_lint

gha: add test unity builds
  .github/workflows/build_linux.yml
  .github/workflows/build_macos.yml
  .github/workflows/build_windows.yml
Due: none
