Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

clang_format:
  name: Format C++ code
  entry: python tools/clang-format.py format
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

clang_lint:
  name: Lint C++ code
  entry: python tools/clang-format.py lint
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

sc_empty_blank_lines:
  name: Check trailing blank lines in sclang
  entry: python tools/remove_trailing_blank_lines.py
  pass_filenames: true
  language: python

Simplifies implementation (the same functionality)
  SCClassLibrary/scide_scqt/ScIDE.sc
Due: sc_empty_blank_lines

Update SCClassLibrary/scide_scqt/ScIDE.sc
  SCClassLibrary/scide_scqt/ScIDE.sc
Due: sc_empty_blank_lines

make .calcNext properly geometric
  SCClassLibrary/Common/Streams/Patterns.sc
Due: sc_empty_blank_lines

# This is a combination of 5 commits. # This is the 1st commit message:
  HelpSource/Guides/Glossary.schelp
Due: sc_empty_blank_lines

Docs: de-duplicate definitions in Glossary.schelp using links
  HelpSource/Guides/Glossary.schelp
Due: sc_empty_blank_lines

Update README_LINUX.md
  README_LINUX.md
Due: none

adds uninstall target
  CMakeLists.txt
  cmake_uninstall.cmake.in
Due: none

restore README_LINUX.md
  README_LINUX.md
Due: none

fix errors
  CMakeLists.txt
  cmake_uninstall.cmake.in
Due: none

Update README_WINDOWS.md
  README_WINDOWS.md
Due: none

Update help_browser.cpp
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

Update upload-artifact action to version 7
  .github/workflows/build_flatpak.yml
Due: none

remove newline before the ins/outs posting
  server/scsynth/SC_CoreAudio.cpp
  server/scsynth/SC_PortAudio.cpp
  server/supernova/audio_backend/portaudio_backend.hpp
Due: clang_format, clang_lint

replace \t with three whitespaces
  server/scsynth/SC_CoreAudio.cpp
  server/scsynth/SC_PortAudio.cpp
  server/supernova/audio_backend/portaudio_backend.hpp
Due: clang_format, clang_lint

remove duplicated file and correct the file path
  CMakeLists.txt
  cmake_uninstall.cmake.in
Due: none

three whitespaces -> one whitespace
  server/scsynth/SC_CoreAudio.cpp
  server/scsynth/SC_PortAudio.cpp
  server/supernova/audio_backend/portaudio_backend.hpp
Due: clang_format, clang_lint

Docs: Document callback expectations for SortedCollection.
  HelpSource/Classes/SortedList.schelp
Due: sc_empty_blank_lines

gha windows: use MSVC 2026
  .github/workflows/build_windows.yml
Due: none

Update ServerStatus.sc
  SCClassLibrary/Common/Control/ServerStatus.sc
Due: sc_empty_blank_lines

initial commit
  SCClassLibrary/Common/Collections/Collection.sc
  SCClassLibrary/Common/Collections/Histogram.sc
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
  testsuite/classlibrary/TestHistogram.sc
Due: sc_empty_blank_lines

Update HelpSource/Classes/SortedList.schelp
  HelpSource/Classes/SortedList.schelp
Due: sc_empty_blank_lines

Update UsingQuarks.schelp
  HelpSource/Guides/UsingQuarks.schelp
Due: sc_empty_blank_lines

Path conditions:
  clang_format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang_lint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  sc_empty_blank_lines: any of: \.sc((d|help)?)$
