Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

clang_format:
  name: Format C++ code
  entry: python tools/clang-format.py format
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

clang_lint:
  name: Lint C++ code
  entry: python tools/clang-format.py lint
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

sc_empty_blank_lines:
  name: Check trailing blank lines in sclang
  entry: python tools/remove_trailing_blank_lines.py
  pass_filenames: true
  language: python

do not use enums in C API functions (scfft_create)
  common/SC_fftlib.cpp
  common/SC_fftlib.hpp
  include/common/SC_fftlib.h
  include/plugin_interface/SC_InterfaceTable.h
Due: clang_format, clang_lint

RGen: move data members to the top
  include/plugin_interface/SC_RGen.h
Due: clang_format, clang_lint

nice-looking table
  SCClassLibrary/Common/Collections/Scale.sc
Due: sc_empty_blank_lines

class library: fix String -absolutePath and PathName -isAbsolutePath overrides for Windows
  SCClassLibrary/Platform/windows/SystemOverwrites/overwrites.sc
Due: sc_empty_blank_lines

Update String.schelp
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

simpler fix
  lang/LangPrimSource/PyrMathPrim.cpp
  testsuite/classlibrary/TestSimpleNumber.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

doc update
  HelpSource/Classes/SimpleNumber.schelp
Due: sc_empty_blank_lines

replace do_nothing function with empty lambda function
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint

fix typo
  HelpSource/Classes/LinkJump.schelp
Due: sc_empty_blank_lines

remove LinkEnabler and LinkDisabler UGens in favor of plugin command /linkclock
  HelpSource/Reference/Server-Command-Reference.schelp
  SCClassLibrary/Common/Audio/LinkUGen.sc
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

switch from signal check to trigger
  HelpSource/Classes/LinkCPS.schelp
  HelpSource/Classes/LinkJump.schelp
  HelpSource/Classes/LinkPhase.schelp
  SCClassLibrary/Common/Audio/LinkUGen.sc
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

add unit test for String -absolutePath and PathName -isAbsolute Windows overrides
  testsuite/classlibrary/TestPathName.sc
  testsuite/classlibrary/TestString.sc
Due: sc_empty_blank_lines

Clearer doc
  HelpSource/Classes/SimpleNumber.schelp
Due: sc_empty_blank_lines

change lambda call structure
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint

use gate for Link UGens allows for higher resolution when morphing values
  HelpSource/Classes/LinkCPS.schelp
  HelpSource/Classes/LinkJump.schelp
  HelpSource/Classes/LinkPhase.schelp
  SCClassLibrary/Common/Audio/LinkUGen.sc
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

fix link ugen tests
  testsuite/classlibrary/TestLinkUGen.sc
Due: sc_empty_blank_lines

DoAsynchronousCommand: completionMsg argument should be const void*
  include/plugin_interface/SC_InterfaceTable.h
  server/scsynth/SC_Prototypes.h
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_SequencedCommand.h
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
  server/supernova/sc/sc_plugin_interface.cpp
Due: clang_format, clang_lint

replace auto with explicit type AsyncStageFn
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint

rename LinkCPS to LinkTempo also rename cps arguments to tempo
  HelpSource/Classes/LinkCPS.schelp
  HelpSource/Classes/LinkClock.schelp
  HelpSource/Classes/LinkJump.schelp
  HelpSource/Classes/LinkPhase.schelp
  HelpSource/Classes/LinkTempo.schelp
  HelpSource/Reference/Server-Command-Reference.schelp
  SCClassLibrary/Common/Audio/LinkUGen.sc
  server/plugins/LinkUGen.cpp
  testsuite/classlibrary/TestLinkUGen.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

improve wording within Link UGen documentation
  HelpSource/Classes/LinkPhase.schelp
  HelpSource/Classes/LinkTempo.schelp
Due: sc_empty_blank_lines

replace sendRaw with sendMsg
  SCClassLibrary/Common/Audio/LinkUGen.sc
Due: sc_empty_blank_lines

move LinkPhase.kr to top of the file
  SCClassLibrary/Common/Audio/LinkUGen.sc
Due: sc_empty_blank_lines

fix link to Env
  HelpSource/Classes/LinkPhase.schelp
Due: sc_empty_blank_lines

keep consistency between getting and setting the server options device
  SCClassLibrary/Common/Control/Server.sc
Due: sc_empty_blank_lines

updates the help file for ServerOptions
  HelpSource/Classes/ServerOptions.schelp
Due: sc_empty_blank_lines

cmake: remove old version variables
  SCVersion.txt
Due: none

Better example
  HelpSource/Reference/StartupFile.schelp
Due: sc_empty_blank_lines

docs: clarify integer vs. float default values in UGen arguments
  HelpSource/Classes/UGen.schelp
  HelpSource/Classes/UGen_Method-call-assistance.png
  HelpSource/Classes/UGen_Method-signiture-description.png
  HelpSource/Guides/SCIde.schelp
  HelpSource/Guides/UGens-and-Synths.schelp
  HelpSource/Reference/Messages.schelp
Due: sc_empty_blank_lines

SCDoc: Remove ghost characters and replace non-standard white spaces with standard white spaces
  HelpSource/Classes/Dswitch1.schelp
  HelpSource/Classes/ObjectGui.schelp
  HelpSource/Classes/TDuty.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_06b_Time_Based_Patterns.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_06c_Composition_of_Patterns.schelp
  HelpSource/Tutorials/Mark_Polishook_tutorial/Japanese_version/13.schelp
Due: sc_empty_blank_lines

Supernova: load_plugin_folder() should follow symlinks and exclude certain directories
  server/supernova/sc/sc_ugen_factory.cpp
Due: clang_format, clang_lint

Supernova: improve path string handling
  server/supernova/sc/sc_ugen_factory.cpp
Due: clang_format, clang_lint

scsynth/supernova: set DLL directory to current plugin directory
  server/scsynth/SC_Lib_Cintf.cpp
  server/supernova/sc/sc_ugen_factory.cpp
Due: clang_format, clang_lint

testsuite: add plugin to test shared libraries
  testsuite/server/plugins/CMakeLists.txt
  testsuite/server/plugins/shared_lib_test.cpp
  testsuite/server/plugins/testlib.cpp
Due: clang_format, clang_lint

Linux/Apple: fix segfault when trying to load .so file that is not a SC plugin
  server/scsynth/SC_Lib_Cintf.cpp
Due: clang_format, clang_lint

testsuite/server/plugins: make sure that testlib.so exports its symbols
  testsuite/server/plugins/CMakeLists.txt
Due: none

server: use .scx extension also on Linux
  server/CMakeLists.txt
  server/plugins/CMakeLists.txt
  server/scsynth/SC_Lib_Cintf.cpp
  server/supernova/sc/sc_ugen_factory.cpp
  server/supernova/sc/sc_ugen_factory.hpp
  testsuite/server/plugins/CMakeLists.txt
Due: clang_format, clang_lint

fix formatting
  server/scsynth/SC_Lib_Cintf.cpp
  server/supernova/sc/sc_ugen_factory.cpp
  testsuite/server/plugins/shared_lib_test.cpp
  testsuite/server/plugins/testlib.cpp
Due: clang_format, clang_lint

scsynth: only unload plugins after we have destroyed all nodes!
  server/scsynth/SC_World.cpp
  server/supernova/server/server.cpp
Due: clang_format, clang_lint

Fix Pdup crash when n < 1 and add regression test
  SCClassLibrary/Common/Streams/FilterPatterns.sc
  testsuite/classlibrary/TestPdup.sc
Due: sc_empty_blank_lines

tests: fix TestPdup to avoid hanging interpreter
  testsuite/classlibrary/TestPdup.sc
Due: sc_empty_blank_lines

Path conditions:
  clang_format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang_lint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  sc_empty_blank_lines: any of: \.sc((d|help)?)$
