Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

help: update information on Windows audio devices
  HelpSource/Reference/AudioDeviceSelection.schelp
Due: sc_empty_blank_lines

servers: Windows: disable old audio APIs
  external_libraries/portaudio/CMakeLists.txt
Due: none

Plotter: center data points for steplike display modes
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

Grid: allow more clearance for the width estimate of a string's bounding rect
  SCClassLibrary/Common/GUI/Base/Grid.sc
Due: sc_empty_blank_lines

Plotter: add new plot modes
  HelpSource/Classes/Plotter.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

Plotter: fix data selection for hold-like display modes
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

Help: Plotter: add warning about hold-like data display
  HelpSource/Classes/Plotter.schelp
Due: sc_empty_blank_lines

Plotter: fix incorrect domainPad when first domain value is 0
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

Update Help.schelp
  HelpSource/Help.schelp
Due: sc_empty_blank_lines

Remove dir method from ExampleFiles
  HelpSource/Classes/ExampleFiles.schelp
  SCClassLibrary/Common/Files/ExampleFiles.sc
Due: sc_empty_blank_lines

Classlib: Dictionary: Disallow 'nil' as Dictionary key
  SCClassLibrary/Common/Collections/Dictionary.sc
  SCClassLibrary/Common/Core/Nil.sc
  SCClassLibrary/Common/Core/Object.sc
Due: sc_empty_blank_lines

testsuite: Unit test for Dictionary blocking nil keys
  testsuite/classlibrary/TestDictionary.sc
Due: sc_empty_blank_lines

help docs:Formlet exples 4 and 5 fixed
  HelpSource/Classes/Formlet.schelp
Due: sc_empty_blank_lines

Update HelpSource/Classes/Formlet.schelp
  HelpSource/Classes/Formlet.schelp
Due: sc_empty_blank_lines

help docs:Formlet fixed formatting
  HelpSource/Classes/Formlet.schelp
Due: sc_empty_blank_lines

Add Link to Dev Documentation on Help Home Page
  HelpSource/Help.schelp
Due: sc_empty_blank_lines

Synth.play to {}.play
  HelpSource/Classes/Limiter.schelp
  HelpSource/Classes/Median.schelp
  HelpSource/Classes/Normalizer.schelp
  HelpSource/Guides/Backwards-Compatibility.schelp
Due: sc_empty_blank_lines

GHA macOS: use homebrew qt for share libscsynth build
  .github/workflows/build_macos.yml
Due: none

add full text search
  HelpSource/Search.html
Due: none

change site address
  HelpSource/Search.html
Due: none

move the note div to the bottom
  HelpSource/Search.html
Due: none

add link to online docs of dev version
  README.md
Due: none

classlib: DoesNotUnderstandError: defer expensive search until needed
  SCClassLibrary/Common/Core/Error.sc
Due: sc_empty_blank_lines

revert Backwards-Compatibility.schelp
  HelpSource/Guides/Backwards-Compatibility.schelp
Due: sc_empty_blank_lines

vDSP: support multiple threads
  README_MACOS.md
  common/SC_fftlib.cpp
  editors/sc-ide/CMakeLists.txt
  include/common/SC_fftlib.h
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
  server/supernova/server/server.cpp
Due: clang_format, clang_lint

supernova nrt: fix thread initialization
  server/supernova/audio_backend/sndfile_backend.hpp
Due: clang_format, clang_lint

reflect reviews
  HelpSource/Classes/DoesNotUnderstandError.schelp
  HelpSource/Classes/EnvironmentRedirect.schelp
Due: sc_empty_blank_lines

Help: fix typos
  HelpSource/Help.schelp
Due: sc_empty_blank_lines

Reflecting Reviews with My Interpretation
  HelpSource/Classes/MultiOutUGen.schelp
  HelpSource/Classes/SimpleNumber.schelp
  SCClassLibrary/Common/Core/AbstractFunction.sc
Due: sc_empty_blank_lines

reflect reviews
  HelpSource/Classes/SimpleNumber.schelp
  SCClassLibrary/Common/Core/AbstractFunction.sc
Due: sc_empty_blank_lines

Courtesy helpfiles that say where the content has been moved
  HelpSource/Reference/Control-Structures.schelp
  HelpSource/Reference/if.schelp
  HelpSource/Reference/loop.schelp
Due: sc_empty_blank_lines

Iteration: merges for/do parts of Control-structures with loop / repeat helpfile
  HelpSource/Reference/iteration.schelp
Due: sc_empty_blank_lines

AAAnd yet more edits
  HelpSource/Reference/Conditional-Execution.schelp
Due: sc_empty_blank_lines

reflect reviews
  HelpSource/Classes/SimpleNumber.schelp
Due: sc_empty_blank_lines

deleted empty lines at end
  HelpSource/Reference/Control-Structures.schelp
Due: sc_empty_blank_lines

sync String concat +/+ with new Path class
  SCClassLibrary/Common/Collections/String.sc
Due: sc_empty_blank_lines

Path.help: prefer term directory over folder
  HelpSource/Classes/Path.schelp
Due: sc_empty_blank_lines

remove .name, use preferred paren style, simplify concat
  SCClassLibrary/Common/Files/Path.sc
Due: sc_empty_blank_lines

Update iteration.schelp
  HelpSource/Reference/iteration.schelp
Due: sc_empty_blank_lines
