Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

add info about updating quarks when posting more than 20 errors/warnings. Also make failures in classextentions fail the class library.
  lang/LangSource/CompilerContext.cpp
  lang/LangSource/CompilerContext.hpp
  lang/LangSource/PyrLexer.cpp
Due: clang_format, clang_lint

README_WINDOWS.md: update build instructions (#7641)
  README_WINDOWS.md
Due: none

update SCDoc version to 80
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

documented clearPostWindow class method
  HelpSource/Classes/ScIDE.schelp
Due: sc_empty_blank_lines

added newline to help file
  HelpSource/Classes/ScIDE.schelp
Due: sc_empty_blank_lines

improve initClass issues
  HelpSource/Classes/Class.schelp
  SCClassLibrary/Common/Core/Kernel.sc
  SCClassLibrary/DefaultLibrary/Main.sc
  lang/LangSource/PyrObject.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

help: fix TOC links including `"`, `\`, `,`, `'`, `<`, `>` and ` in Documentation (#7696)
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Due: sc_empty_blank_lines

testsuite: improve SerialPort tests
  testsuite/classlibrary/TestSerialPort.sc
Due: sc_empty_blank_lines

gha testing: install socat on macOS
  .github/workflows/test_macos.yml
Due: none

Update SCClassLibrary/Common/Core/Kernel.sc
  SCClassLibrary/Common/Core/Kernel.sc
Due: sc_empty_blank_lines

update error text
  SCClassLibrary/Common/Core/Kernel.sc
Due: sc_empty_blank_lines

Add `.cs` to `String.schelp` and replace `.cs` with `.asCompileString` in schelp files. (#7627)
  HelpSource/Classes/IdentityDictionary.schelp
  HelpSource/Classes/String.schelp
  HelpSource/Guides/standalones.schelp
Due: sc_empty_blank_lines

improve reblocking
  HelpSource/Classes/Reblock.schelp
  HelpSource/Classes/Resample.schelp
  HelpSource/Classes/SynthDef.schelp
  include/plugin_interface/SC_Graph.h
  include/plugin_interface/SC_InterfaceTable.h
  server/plugins/IOUGens.cpp
  server/scsynth/SC_Graph.cpp
  server/scsynth/SC_GraphDef.cpp
  server/supernova/sc/sc_synth.cpp
  testsuite/classlibrary/TestReblock.sc
  testsuite/classlibrary/TestResample.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

Update SCDoc version
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

load wasm platform class library folder
  common/SC_Filesystem_iphone.cpp
  common/SC_Filesystem_macos.cpp
  common/SC_Filesystem_unix.cpp
  common/SC_Filesystem_win.cpp
Due: clang_format, clang_lint

add pre-js file for sclang wasm
  platform/wasm/sclang.pre.js
Due: none

patch sclang network stack for wasm
  lang/LangPrimSource/SC_ComPort.h
Due: clang_format, clang_lint

remove DiskOut SynthDef on wasm
  SCClassLibrary/Common/Audio/SystemSynthDefs.sc
Due: sc_empty_blank_lines

add sclang wasm demo website
  platform/wasm/sclang/index.html
  platform/wasm/sclang/init.js
Due: none

make sclang main method a noop for wasm
  lang/LangSource/cmdLineFuncs.cpp
Due: clang_format, clang_lint

add wasm option to sclang cmake
  CMakeLists.txt
  external_libraries/CMakeLists.txt
  lang/CMakeLists.txt
Due: none

add wasm platform files in class library
  SCClassLibrary/Platform/wasm/SystemOverwrites/overwrites.sc
  SCClassLibrary/Platform/wasm/WasmPlatform.sc
Due: sc_empty_blank_lines

introduce USE_STD_ASYNC definition to avoid boost thread pool
  lang/LangSource/PyrObject.cpp
Due: clang_format, clang_lint

add wasm language client
  lang/LangSource/SC_WasmClient.cpp
  lang/LangSource/SC_WasmClient.h
Due: clang_format, clang_lint

skip osc init on wasm of language client
  lang/LangSource/SC_LanguageClient.cpp
Due: clang_format, clang_lint

patch NetAddr primitives for wasm
  lang/LangPrimSource/OSCData.cpp
Due: clang_format, clang_lint

init editor
  platform/CMakeLists.txt
  platform/wasm/CMakeLists.txt
  platform/wasm/editor/index.html
  platform/wasm/editor/init.js
Due: none

cmake: make webosc a dedicated library
  platform/wasm/CMakeLists.txt
  server/scsynth/CMakeLists.txt
Due: none

build web editor as wasm target in ci
  .github/workflows/build_wasm.yml
Due: none

add wasm support and info in readme
  README.md
Due: none

add sclang to wasm readme
  README_WASM.md
Due: none

add type check to prIdeSend primitive
  lang/LangSource/SC_WasmClient.cpp
Due: clang_format, clang_lint

fix wasm lang ticker
  lang/LangSource/SC_WasmClient.cpp
  lang/LangSource/SC_WasmClient.h
Due: clang_format, clang_lint

TestReblock: add more test cases
  testsuite/classlibrary/TestReblock.sc
Due: sc_empty_blank_lines

remove unnecessary copy of osc message
  platform/wasm/editor/init.js
  platform/wasm/sclang.pre.js
Due: none

remove one copying of the OSC message in scsynth by relying on the FreeOSCPacket function
  server/scsynth/SC_WebAudio.cpp
Due: clang_format, clang_lint

use try for invoking module methods
  lang/LangSource/SC_WasmClient.cpp
  server/scsynth/SC_WebAudio.cpp
Due: clang_format, clang_lint

improve reblocking (#7707)
  HelpSource/Classes/Reblock.schelp
  HelpSource/Classes/Resample.schelp
  HelpSource/Classes/SynthDef.schelp
  include/plugin_interface/SC_Graph.h
  include/plugin_interface/SC_InterfaceTable.h
  server/plugins/IOUGens.cpp
  server/scsynth/SC_Graph.cpp
  server/scsynth/SC_GraphDef.cpp
  server/supernova/sc/sc_synth.cpp
  testsuite/classlibrary/TestReblock.sc
  testsuite/classlibrary/TestResample.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

also use std::cout.write for SC_WasmClient::postText
  lang/LangSource/SC_WasmClient.cpp
Due: clang_format, clang_lint

add ScIDE.clearPostWindow and corresponding code in main_window.cpp (#7704)
  HelpSource/Classes/ScIDE.schelp
  SCClassLibrary/scide_scqt/ScIDE.sc
  editors/sc-ide/widgets/main_window.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines
