Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

tests: fix TestPdup to avoid hanging interpreter
  testsuite/classlibrary/TestPdup.sc
Due: sc_empty_blank_lines

Update SCClassLibrary/Common/Streams/FilterPatterns.sc
  SCClassLibrary/Common/Streams/FilterPatterns.sc
Due: sc_empty_blank_lines

Update testsuite/classlibrary/TestPdup.sc
  testsuite/classlibrary/TestPdup.sc
Due: sc_empty_blank_lines

docs: Pdup: document behavior when n < 1
  HelpSource/Classes/Pdup.schelp
Due: sc_empty_blank_lines

tests: avoid relying on return value of try in TestPdup
  testsuite/classlibrary/TestPdup.sc
Due: sc_empty_blank_lines

tests: use assertNoException in TestPdup
  testsuite/classlibrary/TestPdup.sc
Due: sc_empty_blank_lines

Document non-standard behavior for trunc and div
  HelpSource/Classes/SimpleNumber.schelp
Due: sc_empty_blank_lines

SimpleNumber methods, primitives
  SCClassLibrary/Common/Math/SimpleNumber.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/PyrMathOps.cpp
  lang/LangSource/SpecialSelectorsOperatorsAndClasses.h
Due: clang_format, clang_lint, sc_empty_blank_lines

add truncate to UnaryOpUgens
  server/plugins/UnaryOpUGens.cpp
Due: clang_format, clang_lint

Add divide to BinaryOpUgens
  server/plugins/BinaryOpUGens.cpp
Due: clang_format, clang_lint

Classlib: add truncate method for SeqCollection, AbstFunction, Point
  SCClassLibrary/Common/Collections/SequenceableCollection.sc
  SCClassLibrary/Common/Core/AbstractFunction.sc
  SCClassLibrary/Common/Geometry/Point.sc
Due: sc_empty_blank_lines

classlib: add divide method for SeqColl,Abstrfunc, Point, number, signal
  SCClassLibrary/Common/Collections/SequenceableCollection.sc
  SCClassLibrary/Common/Core/AbstractFunction.sc
  SCClassLibrary/Common/Geometry/Point.sc
  SCClassLibrary/Common/Math/Number.sc
  SCClassLibrary/Common/Math/Signal.sc
Due: sc_empty_blank_lines

formatting
  server/plugins/UnaryOpUGens.cpp
Due: clang_format, clang_lint

oversight
  server/plugins/UnaryOpUGens.cpp
Due: clang_format, clang_lint

FreqScope: change test in *new so instance can be accessed after creation
  SCClassLibrary/Common/GUI/PlusGUI/Control/FreqScope.sc
Due: sc_empty_blank_lines

Rebuild QuarksGui view after "Check for updates"
  SCClassLibrary/Common/Quarks/GUI/QuarksGui.sc
Due: sc_empty_blank_lines

Update QuarksGui.sc
  SCClassLibrary/Common/Quarks/GUI/QuarksGui.sc
Due: sc_empty_blank_lines

getInstance, newReplace methods
  SCClassLibrary/Common/GUI/PlusGUI/Control/FreqScope.sc
Due: sc_empty_blank_lines

Revert newReplace method
  SCClassLibrary/Common/GUI/PlusGUI/Control/FreqScope.sc
Due: sc_empty_blank_lines

condtl indent
  SCClassLibrary/Common/GUI/PlusGUI/Control/FreqScope.sc
Due: sc_empty_blank_lines

semicolon
  SCClassLibrary/Common/GUI/PlusGUI/Control/FreqScope.sc
Due: sc_empty_blank_lines

doc
  HelpSource/Classes/FreqScope.schelp
Due: sc_empty_blank_lines

compiler recommended depreciation warning in qt
  QtCollider/QWidgetProxy.cpp
  QtCollider/QcApplication.cpp
  QtCollider/widgets/QcGraph.cpp
Due: clang_format, clang_lint

scsynth: CoreAudio: replace boost::optional with std::optional
  server/scsynth/SC_CoreAudio.h
Due: clang_format, clang_lint

clarify plugin loading logic on linux
  server/scsynth/SC_Lib_Cintf.cpp
  server/supernova/sc/sc_ugen_factory.cpp
  server/supernova/sc/sc_ugen_factory.hpp
Due: clang_format, clang_lint

supernova: only allocate wire buffer space for the specified block size
  server/supernova/sc/sc_synth.cpp
  server/supernova/sc/sc_ugen_factory.cpp
Due: clang_format, clang_lint

Supernova: implement reblocking/upsampling
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_plugin_interface.cpp
  server/supernova/sc/sc_plugin_interface.hpp
  server/supernova/sc/sc_synth.cpp
  server/supernova/sc/sc_synth.hpp
  server/supernova/sc/sc_synth_definition.cpp
  server/supernova/sc/sc_synth_definition.hpp
  server/supernova/sc/sc_ugen_factory.cpp
  server/supernova/server/server.cpp
  server/supernova/server/server.hpp
  server/supernova/server/synth_definition.hpp
  server/supernova/server/synth_factory.hpp
  testsuite/server/supernova/server_synth_factory_test.cpp
Due: clang_format, clang_lint

Synth: don't rely on automatic 'nil' to 0 conversion.
  SCClassLibrary/Common/Control/Node.sc
Due: sc_empty_blank_lines

temporarily bump plugin API so that we don't accidentally load incompatible 3rd-party plugins.
  include/server/ErrorMessage.hpp
Due: clang_format, clang_lint

Graph: rearrange members to avoid padding
  include/plugin_interface/SC_Graph.h
Due: clang_format, clang_lint

Class Library: add 'blockSize' and 'upsample' arguments to Synth
  SCClassLibrary/Common/Control/Node.sc
Due: sc_empty_blank_lines

server plugins: implement reblocking/upsampling
  server/plugins/DelayUGens.cpp
  server/plugins/IOUGens.cpp
Due: clang_format, clang_lint

scsynth: implement Synth reblocking and upsampling
  include/plugin_interface/SC_Graph.h
  include/plugin_interface/SC_Unit.h
  include/server/SC_OSC_Commands.h
  server/scsynth/SC_Graph.cpp
  server/scsynth/SC_MiscCmds.cpp
  server/scsynth/SC_Prototypes.h
  server/scsynth/SC_Unit.cpp
Due: clang_format, clang_lint

Changed the access method from .get() to .value()
  server/scsynth/SC_CoreAudio.cpp
Due: clang_format, clang_lint

Update section::Setting Bounds
  HelpSource/Classes/Window.schelp
Due: sc_empty_blank_lines

Update Window.schelp
  HelpSource/Classes/Window.schelp
Due: sc_empty_blank_lines

Update documentation on variable scopes
  HelpSource/Guides/startup_eventHook_autoRun_execution_load.schelp
Due: sc_empty_blank_lines

remove header include
  lang/LangPrimSource/SC_AudioDevicePrim.cpp
Due: clang_format, clang_lint
