Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

clang_format:
  name: Format C++ code
  entry: python tools/clang-format.py format
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

clang_lint:
  name: Lint C++ code
  entry: python tools/clang-format.py lint
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

sc_empty_blank_lines:
  name: Check trailing blank lines in sclang
  entry: python tools/remove_trailing_blank_lines.py
  pass_filenames: true
  language: python

add old connection style for updateFontPreview on Qt5
  editors/sc-ide/widgets/settings/editor_page.cpp
Due: clang_format, clang_lint

fix merge conflict
  editors/sc-ide/widgets/settings/sclang_page.cpp
Due: clang_format, clang_lint

add new connection style for showLanguageRestartDialogOnSave on Qt6
  editors/sc-ide/widgets/settings/sclang_page.cpp
Due: clang_format, clang_lint

qt: remove outdated qt preprocessor definitions
  editors/sc-ide/widgets/code_editor/line_indicator.cpp
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

fix Maybe documentation add missing closing tag for code section
  HelpSource/Classes/Maybe.schelp
Due: sc_empty_blank_lines

add posting of interpreter startup command to post window
  editors/sc-ide/core/sc_process.cpp
Due: clang_format, clang_lint

Update UGen.schelp
  HelpSource/Classes/UGen.schelp
Due: sc_empty_blank_lines

Update SC_as_Plugin.schelp
  HelpSource/Guides/SC_as_Plugin.RPP
  HelpSource/Guides/SC_as_Plugin.schelp
  HelpSource/Guides/SC_as_Plugin_-_FX_mode.png
  HelpSource/Help.schelp
Due: sc_empty_blank_lines

remove image & update documentaton
  HelpSource/Guides/SC_as_Plugin.schelp
  HelpSource/Guides/SC_as_Plugin_-_FX_mode.png
Due: sc_empty_blank_lines

Update SC_as_Plugin.RPP
  HelpSource/Guides/SC_as_Plugin.RPP
Due: none

Update SC_as_Plugin.schelp
  HelpSource/Guides/SC_as_Plugin.schelp
Due: sc_empty_blank_lines

Remove Reaper Files
  HelpSource/Guides/SC_as_Plugin.RPP
  HelpSource/Guides/SC_as_Plugin.schelp
Due: sc_empty_blank_lines

add working directory to startup message
  editors/sc-ide/core/sc_process.cpp
Due: clang_format, clang_lint

init Ableton Link UGen
  SCClassLibrary/Common/Audio/LinkUGen.sc
  server/plugins/CMakeLists.txt
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

change API of Link UGen
  SCClassLibrary/Common/Audio/LinkUGen.sc
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

varargs space for scdocs; reorg into subsection "loading scd files"
  HelpSource/Classes/String.schelp
  SCClassLibrary/Common/Collections/String.sc
Due: sc_empty_blank_lines

... kwargs in the arg tag as well
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

loadPaths example
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

another space (... args) for scdoc
  SCClassLibrary/Common/Core/Kernel.sc
Due: sc_empty_blank_lines

Add Buffer Playback Guide
  HelpSource/Guides/Buffer_PlayBuf_BufRd_SoundFile.schelp
  HelpSource/Help.schelp
Due: sc_empty_blank_lines

Update Buffer_PlayBuf_BufRd_SoundFile.schelp
  HelpSource/Guides/Buffer_PlayBuf_BufRd_SoundFile.schelp
Due: sc_empty_blank_lines

fix force parameter of LinkJump
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint

rename LinkTempo to LinkBPM and LinkUGen to LinkPhase
  SCClassLibrary/Common/Audio/LinkUGen.sc
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

add lag parameter to setTempo
  SCClassLibrary/Common/Audio/LinkUGen.sc
Due: sc_empty_blank_lines

change to set_calc_function
  server/plugins/LinkUGen.cpp
Due: clang_format, clang_lint

doc example fix
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

use play to check if server is running
  SCClassLibrary/Common/Audio/LinkUGen.sc
Due: sc_empty_blank_lines

init Link UGen help
  HelpSource/Classes/LinkBPM.schelp
  HelpSource/Classes/LinkJump.schelp
  HelpSource/Classes/LinkPhase.schelp
Due: sc_empty_blank_lines

add Link UGen links to LinkClock
  HelpSource/Classes/LinkClock.schelp
Due: sc_empty_blank_lines

add test suite for LinkUGen
  testsuite/classlibrary/TestLinkUGen.sc
Due: sc_empty_blank_lines

add linking of iphlpapi for mingw
  server/plugins/CMakeLists.txt
Due: none

change Link UGens to be multichannel expandable
  SCClassLibrary/Common/Audio/LinkUGen.sc
Due: sc_empty_blank_lines

add Interpreter.prExecuteFile
  HelpSource/Classes/Interpreter.schelp
  HelpSource/Classes/String.schelp
  SCClassLibrary/Common/Collections/String.sc
  SCClassLibrary/Common/Core/Kernel.sc
  testsuite/classlibrary/TestString.sc
Due: sc_empty_blank_lines

Update String.schelp
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

Update README.md
  README.md
Due: none

ide: editor: fix Cmd+Backspace and Cmd+Delete shortcuts on macOS
  editors/sc-ide/widgets/code_editor/editor.cpp
Due: clang_format, clang_lint

Path conditions:
  clang_format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang_lint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  sc_empty_blank_lines: any of: \.sc((d|help)?)$
