Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

clang_format:
  name: Format C++ code
  entry: python tools/clang-format.py format
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

clang_lint:
  name: Lint C++ code
  entry: python tools/clang-format.py lint
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

sc_empty_blank_lines:
  name: Check trailing blank lines in sclang
  entry: python tools/remove_trailing_blank_lines.py
  pass_filenames: true
  language: python

add DoAsyncUnitCommand
  SCClassLibrary/Common/Audio/DemoUGens.sc
  include/plugin_interface/SC_Graph.h
  include/plugin_interface/SC_InterfaceTable.h
  server/plugins/DemoUGens.cpp
  server/scsynth/SC_Graph.cpp
  server/scsynth/SC_Node.cpp
  server/scsynth/SC_Prototypes.h
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_SequencedCommand.h
  server/scsynth/SC_World.cpp
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
  server/supernova/sc/sc_plugin_interface.cpp
  server/supernova/sc/sc_synth.cpp
  server/supernova/sc/sc_synth.hpp
  server/supernova/server/server.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

rename TestServer_SynthDefVersions -> TestSynthDefVersions_Server
  testsuite/classlibrary/TestSynthDefVersions_Server.sc
Due: sc_empty_blank_lines

add tests for (async) unit commands and async plugin commands
  server/plugins/DemoUGens.cpp
  testsuite/classlibrary/TestPluginCommand.sc
  testsuite/classlibrary/TestUnitCommand.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

Update Window.schelp
  HelpSource/Classes/Window.schelp
Due: sc_empty_blank_lines

temporarily bump plugin API version
  include/plugin_interface/SC_InterfaceTable.h
Due: clang_format, clang_lint

Fix: ISPOWEROFTWO returning true for 0
  include/common/clz.h
Due: clang_format, clang_lint

sclang: parser: remove unused litDictPut stub
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

Fix crash when receiving malformed OSC UDP packets
  lang/LangPrimSource/OSCData.cpp
Due: clang_format, clang_lint

style: fix clang-format linting issues
  lang/LangPrimSource/OSCData.cpp
Due: clang_format, clang_lint

Format with clang-format
  .vscode/c_cpp_properties.json
  lang/LangPrimSource/OSCData.cpp
Due: clang_format, clang_lint

temp: revert OSC fix to test CI
  .vscode/c_cpp_properties.json
  lang/LangPrimSource/OSCData.cpp
Due: clang_format, clang_lint

Update lang/LangPrimSource/OSCData.cpp
  lang/LangPrimSource/OSCData.cpp
Due: clang_format, clang_lint

Post window enlarge font
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint

Post window context menu shortcuts
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint

fix: check IsMessage before PerformOSCMessage to prevent crash on invalid UDP packets
  lang/LangPrimSource/OSCData.cpp
Due: clang_format, clang_lint

Rename good first issues to good-first-issues
  README.md
Due: none

Revert "Post window context menu shortcuts"
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint

Main function context menu shortcuts
  editors/sc-ide/core/main_function.cpp
Due: clang_format, clang_lint

Convolution: do not use uint32 for buffer numbers!
  server/plugins/Convolution.cpp
Due: clang_format, clang_lint

fix test_allUGens_allocFail() for Convolution UGens
  testsuite/classlibrary/TestUGen_RTAlloc.sc
Due: sc_empty_blank_lines

OutProxy: improve controlIndex method
  SCClassLibrary/Common/Audio/UGen.sc
Due: sc_empty_blank_lines

update documentation
  HelpSource/Classes/Reblock.schelp
  HelpSource/Classes/Resample.schelp
  HelpSource/Classes/SynthDef.schelp
  HelpSource/Reference/Synth-Definition-File-Format.schelp
Due: sc_empty_blank_lines

some IOUGen fixes:
  server/plugins/IOUGens.cpp
Due: clang_format, clang_lint

implement Synth reblocking and upsampling
  HelpSource/Classes/Reblock.schelp
  HelpSource/Classes/Resample.schelp
  HelpSource/Classes/SynthDef.schelp
  HelpSource/Reference/Synth-Definition-File-Format.schelp
  SCClassLibrary/Common/Audio/SynthDef.sc
  SCClassLibrary/Common/Audio/SynthDesc.sc
  SCClassLibrary/Common/Audio/UGen.sc
  include/plugin_interface/SC_Graph.h
  include/plugin_interface/SC_InterfaceTable.h
  include/plugin_interface/SC_Unit.h
  include/server/ErrorMessage.hpp
  server/plugins/DelayUGens.cpp
  server/plugins/IOUGens.cpp
  server/scsynth/SC_Graph.cpp
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/SC_GraphDef.h
  server/scsynth/SC_Prototypes.h
  server/scsynth/SC_Unit.cpp
  server/supernova/sc/sc_plugin_interface.cpp
  server/supernova/sc/sc_plugin_interface.hpp
  server/supernova/sc/sc_synth.cpp
  server/supernova/sc/sc_synth.hpp
  server/supernova/sc/sc_synth_definition.hpp
  server/supernova/sc/sc_synthdef.cpp
  server/supernova/sc/sc_synthdef.hpp
  server/supernova/sc/sc_ugen_factory.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

scsynth: use common function for s_new and s_newargs command
  server/scsynth/SC_MiscCmds.cpp
Due: clang_format, clang_lint

Revert "Post window enlarge font"
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint

improve AudioBusGuard
  server/plugins/IOUGens.cpp
Due: clang_format, clang_lint

AudioControl: check if bus guard is valid
  server/plugins/IOUGens.cpp
Due: clang_format, clang_lint

fix/improve OffsetOut:
  server/plugins/IOUGens.cpp
Due: clang_format, clang_lint

add Unit tests for reblocking and resampling
  HelpSource/Classes/Reblock.schelp
  HelpSource/Classes/Resample.schelp
  testsuite/classlibrary/TestReblock.sc
  testsuite/classlibrary/TestResample.sc
Due: sc_empty_blank_lines

Post window font
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint

redirectToSystemBrowser class method
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

as per review
  HelpSource/Classes/HelpBrowser.schelp
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

forgot to declare var, forgot a letter
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

classvars redirectEnabled, redirectPattern; docs
  HelpSource/Classes/HelpBrowser.schelp
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

Update Stethoscope.sc
  SCClassLibrary/Common/GUI/tools/Stethoscope.sc
Due: sc_empty_blank_lines

Update SCClassLibrary/Common/GUI/tools/Stethoscope.sc
  SCClassLibrary/Common/GUI/tools/Stethoscope.sc
Due: sc_empty_blank_lines

Update startup_eventHook_autoRun_execution_load.schelp
  HelpSource/Guides/startup_eventHook_autoRun_execution_load.schelp
Due: sc_empty_blank_lines

Path conditions:
  clang_format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang_lint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  sc_empty_blank_lines: any of: \.sc((d|help)?)$
