Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

Plugins/classlib: Support multiple RandIDs in one SynthDef (#6159)
  HelpSource/Classes/RandID.schelp
  SCClassLibrary/Common/Audio/Noise.sc
  server/plugins/NoiseUGens.cpp
  testsuite/classlibrary/TestNoiseUGens.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

sclang: make return carat in closed functions illegal syntax. (#7721)
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/CompilerContext.hpp
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrParseNode.h
Due: clang_format, clang_lint

Quark.sc: open old help files in the HelpBrowser (#7757)
  SCClassLibrary/Common/Quarks/Quark.sc
Due: sc_empty_blank_lines

add section for pasting LLM bug fix
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

add review remarks
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add AI CoC links to PR and Issue templates (#7739)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

URI: silently normalise file:// paths for cross-platform compatibility
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

version update
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

revert SCDoc.sc
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

Update HelpBrowser.sc
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

move 'defer' class to its own header
  common/sc_defer.hpp
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

sclang: rework terminal client
  QtCollider/LanguageClient.cpp
  editors/sc-ide/core/sc_process.cpp
  include/lang/SC_LanguageClient.h
  lang/LangSource/SC_LanguageClient.cpp
  lang/LangSource/SC_TerminalClient.cpp
  lang/LangSource/SC_TerminalClient.h
Due: clang_format, clang_lint

sclang/classlib: runtime error source code highlighting
  .github/workflows/actions.yml
  .github/workflows/sclang_error_regression.yml
  HelpSource/Classes/DoesNotUnderstandError.schelp
  HelpSource/Classes/Error.schelp
  HelpSource/Classes/ErrorWrapper.schelp
  HelpSource/Classes/Exception.schelp
  SCClassLibrary/Common/Core/Error.sc
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/Core/Kernel.sc
  SCClassLibrary/Common/Core/Object.sc
  lang/CMakeLists.txt
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/CompilerContext.cpp
  lang/LangSource/CompilerContext.hpp
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrKernel.h
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/PyrObject.cpp
  lang/LangSource/PyrObject.h
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrSlot.cpp
  lang/LangSource/PyrSlot.h
  testsuite/CMakeLists.txt
  testsuite/classlibrary/TestAbstractFunction.sc
  testsuite/classlibrary/TestUnitTest.sc
  testsuite/sclang/crash_deprecated.scd
  testsuite/sclangErrorRegressions/CMakeLists.txt
  testsuite/sclangErrorRegressions/ErrorGenerator.sc
  testsuite/sclangErrorRegressions/generateError.scd
  testsuite/sclangErrorRegressions/regression.txt
Due: clang_format, clang_lint, sc_empty_blank_lines

scsynth: /g_new: always return with an error if the node ID already exists
  server/scsynth/SC_MiscCmds.cpp
Due: clang_format, clang_lint

sclang/classlib: runtime error source code highlighting (#7718)
  .github/workflows/actions.yml
  .github/workflows/sclang_error_regression.yml
  HelpSource/Classes/DoesNotUnderstandError.schelp
  HelpSource/Classes/Error.schelp
  HelpSource/Classes/ErrorWrapper.schelp
  HelpSource/Classes/Exception.schelp
  SCClassLibrary/Common/Core/Error.sc
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/Core/Kernel.sc
  SCClassLibrary/Common/Core/Object.sc
  lang/CMakeLists.txt
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/CompilerContext.cpp
  lang/LangSource/CompilerContext.hpp
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrKernel.h
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/PyrObject.cpp
  lang/LangSource/PyrObject.h
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrSlot.cpp
  lang/LangSource/PyrSlot.h
  testsuite/CMakeLists.txt
  testsuite/classlibrary/TestAbstractFunction.sc
  testsuite/classlibrary/TestUnitTest.sc
  testsuite/sclang/crash_deprecated.scd
  testsuite/sclangErrorRegressions/CMakeLists.txt
  testsuite/sclangErrorRegressions/ErrorGenerator.sc
  testsuite/sclangErrorRegressions/generateError.scd
  testsuite/sclangErrorRegressions/regression.txt
Due: clang_format, clang_lint, sc_empty_blank_lines

Rework terminal client (#7747)
  QtCollider/LanguageClient.cpp
  common/sc_defer.hpp
  editors/sc-ide/core/sc_process.cpp
  include/lang/SC_LanguageClient.h
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/SC_LanguageClient.cpp
  lang/LangSource/SC_TerminalClient.cpp
  lang/LangSource/SC_TerminalClient.h
Due: clang_format, clang_lint

scsynth: narrower scope for variables in World_NonRealTimeSynthesis()
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

supernova: use < instead of != in loops
  server/supernova/audio_backend/audio_backend_common.hpp
  server/supernova/audio_backend/sndfile_backend.hpp
  server/supernova/server/nrt_synthesis.hpp
Due: clang_format, clang_lint

supernova: cosmetic fixes
  server/supernova/sc/sc_plugin_interface.cpp
  server/supernova/server/nrt_synthesis.hpp
Due: clang_format, clang_lint

scsynth: improve error handling in NRT synthesis
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

supernova/nrt_synthesis: improve info messages
  server/supernova/server/nrt_synthesis.hpp
Due: clang_format, clang_lint

supernova/sndfile_backend: remove unnecessary call to super::clear_outputs()
  server/supernova/audio_backend/sndfile_backend.hpp
Due: clang_format, clang_lint

testsuite: add test for NRT synthesis
  testsuite/classlibrary/TestNRTSynthesis.sc
Due: sc_empty_blank_lines

supernova/sndfile_backend: the reader thread shouldn't spin on the ringbuffer.
  server/supernova/audio_backend/sndfile_backend.hpp
Due: clang_format, clang_lint

supernova: fix broken input logic in sndfile_backend
  server/supernova/audio_backend/sndfile_backend.hpp
Due: clang_format, clang_lint

scsynth: ignore -S flag if -N has been set
  SCClassLibrary/Common/Control/Score.sc
  server/scsynth/scsynth_main.cpp
  server/supernova/server/server_args.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

supernova: fix/improve time_tag class
  server/supernova/utilities/time_tag.hpp
Due: clang_format, clang_lint

supernova: finish very last block in NRT synthesis
  server/supernova/server/nrt_synthesis.hpp
Due: clang_format, clang_lint

supernova: fix broken sound input in NRT synthesis
  server/supernova/server/nrt_synthesis.hpp
  server/supernova/server/server.hpp
Due: clang_format, clang_lint

scsynth: improve OSC packet reading in NRT synthesis
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

supernova: fix read/write error handling in sndfile_backend
  server/supernova/audio_backend/sndfile_backend.hpp
Due: clang_format, clang_lint

supernova/sndfile_backend: improve input/output buffer logic
  server/supernova/audio_backend/sndfile_backend.hpp
Due: clang_format, clang_lint

supernova: improve read/write loops in sndfile_backend
  server/supernova/audio_backend/sndfile_backend.hpp
Due: clang_format, clang_lint

supernova: fix implementation of non_rt_functor::init_thread()
  server/supernova/server/nrt_synthesis.hpp
  server/supernova/server/server.cpp
  server/supernova/server/server.hpp
Due: clang_format, clang_lint

scsynth: /g_new: always return with an error if the node ID already exists (#7764)
  server/scsynth/SC_MiscCmds.cpp
Due: clang_format, clang_lint

scsynth/supernova: advance logical time in a way that avoids cumulative errors.
  server/scsynth/SC_World.cpp
  server/supernova/server/nrt_synthesis.hpp
  server/supernova/server/server.hpp
  testsuite/classlibrary/TestNRTSynthesis.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

Update SCDoc.sc
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

Add note advising against manual file:// prefixing
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

supernova: only drop RT priority on Linux
  server/supernova/server/main.cpp
Due: clang_format, clang_lint
