Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

add squircle IDE icon for macOS
  editors/sc-ide/CMakeLists.txt
  icons/.gitignore
  icons/README.md
  icons/sc_ide.icon/Assets/sc_ide.svg
  icons/sc_ide.icon/icon.json
  icons/sc_ide_squircle/Assets.car
  icons/sc_ide_squircle/sc_ide.icns
Due: none

skip osc init on wasm of language client
  lang/LangSource/SC_LanguageClient.cpp
Due: clang_format, clang_lint

build web editor as wasm target in ci
  .github/workflows/build_wasm.yml
Due: none

remove DiskOut SynthDef on wasm
  SCClassLibrary/Common/Audio/SystemSynthDefs.sc
Due: sc_empty_blank_lines

add wasm platform files in class library
  SCClassLibrary/Platform/wasm/SystemOverwrites/overwrites.sc
  SCClassLibrary/Platform/wasm/WasmPlatform.sc
Due: sc_empty_blank_lines

introduce USE_STD_ASYNC definition to avoid boost thread pool
  lang/LangSource/PyrObject.cpp
Due: clang_format, clang_lint

cmake: make webosc a dedicated library
  platform/wasm/CMakeLists.txt
  server/scsynth/CMakeLists.txt
Due: none

load wasm platform class library folder
  common/SC_Filesystem_iphone.cpp
  common/SC_Filesystem_macos.cpp
  common/SC_Filesystem_unix.cpp
  common/SC_Filesystem_win.cpp
Due: clang_format, clang_lint

add wasm language client
  lang/LangSource/SC_WasmClient.cpp
  lang/LangSource/SC_WasmClient.h
Due: clang_format, clang_lint

add sclang wasm demo website
  platform/wasm/sclang/index.html
  platform/wasm/sclang/init.js
Due: none

add pre-js file for sclang wasm
  platform/wasm/sclang.pre.js
Due: none

init editor
  platform/CMakeLists.txt
  platform/wasm/CMakeLists.txt
  platform/wasm/editor/index.html
  platform/wasm/editor/init.js
Due: none

add sclang to wasm readme
  README_WASM.md
Due: none

add simple sclang spinup and eval test for wasm build
  .github/workflows/build_wasm.yml
  lang/CMakeLists.txt
  platform/wasm/package.json
  platform/wasm/sclang/sclang-tests.mjs
Due: none

use try for invoking module methods
  server/scsynth/SC_WebAudio.cpp
Due: clang_format, clang_lint

add wasm support and info in readme
  README.md
Due: none

add recompile primitive
  lang/LangSource/SC_WasmClient.cpp
Due: clang_format, clang_lint

sclang: simplify pyr_pool_compile_allocator
  lang/LangSource/PyrObject.cpp
Due: clang_format, clang_lint

sclang: unify parallel execution in class library compilation
  lang/LangSource/PyrObject.cpp
Due: clang_format, clang_lint

supernova: make sure that World points to the interface table!
  server/supernova/sc/sc_plugin_interface.cpp
Due: clang_format, clang_lint

sclang: remove parallel execution for building the method table
  lang/LangSource/PyrObject.cpp
Due: clang_format, clang_lint

supernova: make sure that World points to the interface table! (#7729)
  server/supernova/sc/sc_plugin_interface.cpp
Due: clang_format, clang_lint

sclang: implement reference counting for frames.
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/GC.cpp
  lang/LangSource/GC.h
  lang/LangSource/PyrMessage.cpp
Due: clang_format, clang_lint

add Platform.postBugReportInfo hint on bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

add AI CoC link to PR and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update lang/LangSource/GC.h
  lang/LangSource/GC.h
Due: clang_format, clang_lint

QT Websocket header files now are provided by qt6-websockets-dev
  README_LINUX.md
Due: none

sclang/classlib: runtime error source code highlighting
  .github/workflows/actions.yml
  .github/workflows/sclang_error_regression.yml
  HelpSource/Classes/DoesNotUnderstandError.schelp
  HelpSource/Classes/Error.schelp
  HelpSource/Classes/ErrorWrapper.schelp
  HelpSource/Classes/Exception.schelp
  SCClassLibrary/Common/Core/Error.sc
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/Core/Kernel.sc
  SCClassLibrary/Common/Core/Object.sc
  lang/CMakeLists.txt
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/CompilerContext.cpp
  lang/LangSource/CompilerContext.hpp
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrKernel.h
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/PyrObject.cpp
  lang/LangSource/PyrObject.h
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrSlot.cpp
  lang/LangSource/PyrSlot.h
  testsuite/classlibrary/TestAbstractFunction.sc
  testsuite/classlibrary/TestUnitTest.sc
  testsuite/sclang/crash_deprecated.scd
  testsuite/sclangErrorRegressions/ErrorGenerator.sc
  testsuite/sclangErrorRegressions/generateError.scd
  testsuite/sclangErrorRegressions/regression.txt
Due: clang_format, clang_lint, sc_empty_blank_lines

QT Websocket header files now are provided by qt6-websockets-dev (#7741)
  README_LINUX.md
Due: none

update help and regression
  HelpSource/Classes/DoesNotUnderstandError.schelp
  HelpSource/Classes/Error.schelp
  HelpSource/Classes/Exception.schelp
  SCClassLibrary/Common/Core/Error.sc
  testsuite/sclangErrorRegressions/generateError.scd
  testsuite/sclangErrorRegressions/regression.txt
Due: sc_empty_blank_lines

Update lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

error to warning
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

sclang: implement reference counting for frames.
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/Core/Kernel.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/GC.cpp
  lang/LangSource/GC.h
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrKernel.h
  lang/LangSource/PyrMessage.cpp
  lang/LangSource/PyrObject.cpp
  lang/LangSource/PyrParseNode.cpp
  testsuite/sclang/gc_frame_error.scd
Due: clang_format, clang_lint, sc_empty_blank_lines

rm nodiscard some compilers get confused with macro
  lang/LangSource/GC.h
Due: clang_format, clang_lint

plugin interface: change int to uint32 for indices
  include/plugin_interface/SC_InterfaceTable.h
  include/plugin_interface/SC_PlugIn.hpp
Due: clang_format, clang_lint

maybe it works now?
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/GC.cpp
  lang/LangSource/GC.h
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrKernel.h
  lang/LangSource/PyrMessage.cpp
Due: clang_format, clang_lint

wip?
  lang/LangSource/PyrKernel.h
Due: clang_format, clang_lint

fix
  lang/LangSource/GC.cpp
  lang/LangSource/PyrKernel.h
  lang/LangSource/PyrMessage.cpp
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

Update SC_PlugIn.hpp
  include/plugin_interface/SC_PlugIn.hpp
Due: clang_format, clang_lint
