Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

supernova: only drop RT priority on Linux (#7765)
  server/supernova/server/main.cpp
Due: clang_format, clang_lint

fix a typo
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

HelpBrowser: accept file paths for goTo method
  HelpSource/Classes/HelpBrowser.schelp
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/scide_scqt/ScIDE.sc
Due: sc_empty_blank_lines

HelpBrowser: don't error out on nil URLs
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

fix bug_report formdata
  editors/sc-ide/widgets/main_window.cpp
Due: clang_format, clang_lint

gha: add dedicated linux test build
  .github/workflows/build_linux.yml
  .github/workflows/test_linux.yml
Due: none

github: template typo (#7767)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

ide: fix bug report(#7769)
  editors/sc-ide/widgets/main_window.cpp
Due: clang_format, clang_lint

HelpBrowser: open local paths, don't error out on nil path (#7768)
  HelpSource/Classes/HelpBrowser.schelp
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/scide_scqt/ScIDE.sc
Due: sc_empty_blank_lines

Fix typo in Class.schelp
  HelpSource/Classes/Class.schelp
Due: sc_empty_blank_lines

Improve JACK setup instructions in README
  README_RASPBERRY_PI.md
Due: none

fi x SCDoc.renderAll
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Due: sc_empty_blank_lines

Update SCDocRenderer.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Due: sc_empty_blank_lines

move discussion in new method to event-types
  HelpSource/Classes/Pbind.schelp
  HelpSource/Overviews/Event_types.schelp
Due: sc_empty_blank_lines

typo fix
  HelpSource/Overviews/Event_types.schelp
Due: sc_empty_blank_lines

Update PG_07_Value_Conversions.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_07_Value_Conversions.schelp
Due: sc_empty_blank_lines

typo correction
  HelpSource/Overviews/Event_types.schelp
Due: sc_empty_blank_lines
