Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

Menus
  HelpSource/Classes/HelpBrowser.schelp
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

More menu tweaking
  HelpSource/Classes/HelpBrowser.schelp
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

remove newline; update doc
  HelpSource/Classes/HelpBrowser.schelp
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

polishing code in QT Collidr folder for UI Maintainance
  QtCollider/Common.cpp
  QtCollider/LanguageClient.cpp
  QtCollider/QObjectProxy.cpp
  QtCollider/QWidgetProxy.cpp
  QtCollider/QcApplication.cpp
  QtCollider/layouts/classic_layouts.hpp
  QtCollider/layouts/layouts.hpp
  QtCollider/primitives/prim_QObject.cpp
  QtCollider/style/ProxyStyle.cpp
  QtCollider/type_codec.cpp
  QtCollider/type_codec.hpp
  QtCollider/widgets/QcButton.cpp
  QtCollider/widgets/QcFileDialog.cpp
  QtCollider/widgets/QcFileDialog.h
  QtCollider/widgets/QcGraph.cpp
  QtCollider/widgets/QcListWidget.cpp
  QtCollider/widgets/QcMultiSlider.cpp
  QtCollider/widgets/QcPopUpMenu.cpp
  QtCollider/widgets/QcScope.cpp
  QtCollider/widgets/QcScopeShm.cpp
  QtCollider/widgets/QcWebView.cpp
  QtCollider/widgets/soundfileview/view.cpp
Due: clang_format, clang_lint

Fix slotSymbolVal call to check return value
  QtCollider/primitives/prim_QObject.cpp
Due: clang_format, clang_lint

Group.queryTree: remove outdated example in Group.schelp,
  HelpSource/Classes/Group.schelp
Due: sc_empty_blank_lines

Fix link
  HelpSource/Classes/Group.schelp
Due: sc_empty_blank_lines

make queryTree take an action arg
  HelpSource/Classes/Group.schelp
  SCClassLibrary/Common/Control/Node.sc
Due: sc_empty_blank_lines

less confusing solution
  SCClassLibrary/Common/Collections/Scale.sc
Due: sc_empty_blank_lines

EVERYTHING MUST BE ALIGNED
  SCClassLibrary/Common/Collections/Scale.sc
Due: sc_empty_blank_lines

IT HAS TO BE ALIGNED
  SCClassLibrary/Common/Collections/Scale.sc
Due: sc_empty_blank_lines

docs rewording
  HelpSource/Classes/Group.schelp
Due: sc_empty_blank_lines

Lincurve/curvelin scalar curve control fix
  SCClassLibrary/Common/Audio/UGen.sc
Due: sc_empty_blank_lines

tabs
  SCClassLibrary/Common/Audio/UGen.sc
Due: sc_empty_blank_lines

tabagain
  SCClassLibrary/Common/Audio/UGen.sc
Due: sc_empty_blank_lines

testsuite: test yaml/json conversion
  testsuite/classlibrary/TestString.sc
Due: sc_empty_blank_lines

fix typos
  HelpSource/Reference/Control-Structures.schelp
  HelpSource/Reference/loop.schelp
Due: sc_empty_blank_lines

Add more searchable keywords
  HelpSource/Reference/Conditional-Execution.schelp
  HelpSource/Reference/iteration.schelp
Due: sc_empty_blank_lines

cmake: modernize yaml-cpp support
  CMakeLists.txt
  cmake_modules/FindYamlCpp.cmake
  editors/sc-ide/CMakeLists.txt
  external_libraries/CMakeLists.txt
  lang/CMakeLists.txt
  testsuite/interpreter/CMakeLists.txt
Due: none

cmake: remove yaml-cpp related warnings for MSVC
  external_libraries/CMakeLists.txt
Due: none

yaml-cpp: use upstream repo
  .gitmodules
Due: none

cmake: update yaml-cpp implementation
  CMakeLists.txt
  external_libraries/CMakeLists.txt
Due: none

gha: replace pre-commit action with shell commands
  .github/workflows/actions.yml
  .github/workflows/lint_non_code.yml
Due: none

add more links
  HelpSource/Classes/Function.schelp
  HelpSource/Classes/Integer.schelp
  HelpSource/Classes/Number.schelp
  HelpSource/Classes/Object.schelp
Due: sc_empty_blank_lines

Update Syntax-Shortcuts.schelp
  HelpSource/Reference/Syntax-Shortcuts.schelp
Due: sc_empty_blank_lines

Update SymbolicNotations.schelp
  HelpSource/Overviews/SymbolicNotations.schelp
Due: sc_empty_blank_lines

Update FunctionDef.schelp
  HelpSource/Classes/FunctionDef.schelp
Due: sc_empty_blank_lines

Update Messages.schelp
  HelpSource/Reference/Messages.schelp
Due: sc_empty_blank_lines

add kwargs
  HelpSource/Reference/Syntax-Shortcuts.schelp
Due: sc_empty_blank_lines

fix SC version in apiVersionMismatch()
  include/server/ErrorMessage.hpp
Due: clang_format, clang_lint

Correct Platform.helpDir and add Platform.helpSourceDir
  SCClassLibrary/Platform/Platform.sc
Due: sc_empty_blank_lines

ClassLibrary/lang: Add mtime instance method to File (fixes #2526)
  SCClassLibrary/Common/Files/File.sc
  lang/LangPrimSource/PyrFilePrim.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

numFrames -> numFrames.asInteger
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines

startFrame -> startFrame.asInteger
  SCClassLibrary/Common/Control/Buffer.sc
Due: sc_empty_blank_lines
