Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

clang_format:
  name: Format C++ code
  entry: python tools/clang-format.py format
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

clang_lint:
  name: Lint C++ code
  entry: python tools/clang-format.py lint
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

sc_empty_blank_lines:
  name: Check trailing blank lines in sclang
  entry: python tools/remove_trailing_blank_lines.py
  pass_filenames: true
  language: python

qt6: explicitly check if text is not empty
  QtCollider/QWidgetProxy.cpp
  editors/sc-ide/widgets/code_editor/editor.cpp
Due: clang_format, clang_lint

qt6: update qregularexpression
  editors/sc-ide/core/sc_lexer.cpp
Due: clang_format, clang_lint

classlib: AbstractPlayControl:makeProxyControl remove stale postln
  SCClassLibrary/JITLib/ProxySpace/wrapForNodeProxy.sc
Due: sc_empty_blank_lines

gha: update windows build to use qt 6.8.3
  .github/workflows/build_windows.yml
Due: none

qt6: guard AA_UseHighDpiPixmaps for older qt
  QtCollider/QcApplication.cpp
Due: clang_format, clang_lint

qt6: update qvariant canConvert et al
  QtCollider/primitives/prim_QPen.cpp
Due: clang_format, clang_lint

qt6: update qkeycombination
  editors/sc-ide/widgets/util/key_sequence_edit.hpp
Due: clang_format, clang_lint

qt6: fix ImagePainter AlignBottom
  QtCollider/widgets/image_painter.h
Due: clang_format, clang_lint

qt6: update signals
  editors/sc-ide/widgets/settings/editor_page.cpp
  editors/sc-ide/widgets/settings/sclang_page.cpp
Due: clang_format, clang_lint

qt6: update position handling
  QtCollider/QWidgetProxy.cpp
  editors/sc-ide/widgets/multi_editor.cpp
Due: clang_format, clang_lint

classlib: add "quiet" flags to git command
  SCClassLibrary/Common/Quarks/Git.sc
Due: sc_empty_blank_lines

qt: add workaround for triggering Menu actions
  QtCollider/widgets/QcMenu.cpp
  QtCollider/widgets/QcMenu.h
Due: clang_format, clang_lint

alternative implementation
  QtCollider/widgets/QcMenu.cpp
  QtCollider/widgets/QcMenu.h
Due: clang_format, clang_lint

intercept hideEvent
  QtCollider/widgets/QcMenu.cpp
  QtCollider/widgets/QcMenu.h
Due: clang_format, clang_lint

intercept event
  QtCollider/widgets/QcMenu.cpp
  QtCollider/widgets/QcMenu.h
Due: clang_format, clang_lint

Update QcMenu.cpp
  QtCollider/widgets/QcMenu.cpp
Due: clang_format, clang_lint

QtDownload: fix error signal
  QtCollider/QtDownload.cpp
Due: clang_format, clang_lint

QtDownload: fix debug messages
  QtCollider/QtDownload.cpp
Due: clang_format, clang_lint

Update QtDownload.cpp
  QtCollider/QtDownload.cpp
Due: clang_format, clang_lint

qt: remove superfluous QDebug includes
  QtCollider/QObjectProxy.cpp
  QtCollider/type_codec.hpp
  editors/sc-ide/core/doc_manager.cpp
  editors/sc-ide/core/main.cpp
  editors/sc-ide/core/sc_lexer.cpp
  editors/sc-ide/core/sc_process.hpp
  editors/sc-ide/core/sc_server.cpp
  editors/sc-ide/core/settings/manager.cpp
  editors/sc-ide/widgets/code_editor/completion_menu.cpp
  editors/sc-ide/widgets/multi_editor.cpp
  editors/sc-ide/widgets/settings/editor_page.cpp
  editors/sc-ide/widgets/style/style.cpp
  editors/sc-ide/widgets/util/popup_widget.cpp
Due: clang_format, clang_lint

GHA: always run tests
  .github/workflows/actions.yml
Due: none

better(?) method names
  HelpSource/Classes/HelpBrowser.schelp
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

Update Window.schelp
  HelpSource/Classes/Window.schelp
Due: sc_empty_blank_lines

Update SoundFile.schelp
  HelpSource/Classes/SoundFile.schelp
Due: sc_empty_blank_lines

Delete QuartzComposerView.schelp
  HelpSource/Classes/QuartzComposerView.schelp
Due: sc_empty_blank_lines

Update PathName.schelp
  HelpSource/Classes/PathName.schelp
Due: sc_empty_blank_lines

help code editor: skip commented out parentheses
  HelpSource/static/editor.js
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

Update README_LINUX.md
  README_LINUX.md
Due: none

Update HelpSource/Classes/PathName.schelp
  HelpSource/Classes/PathName.schelp
Due: sc_empty_blank_lines

enable avahi and ableton link in flatpak
  platform/linux/online.supercollider.SuperCollider.yml
Due: none

add flatpak s3 upload
  .github/workflows/actions.yml
Due: none

fix flatpak upload to s3
  .github/workflows/actions.yml
Due: none

fix flatpak artifact names
  .github/workflows/actions.yml
  .github/workflows/build_flatpak.yml
Due: none

fix job name key
  .github/workflows/build_flatpak.yml
Due: none

add ccache for flatpak
  .github/workflows/build_flatpak.yml
Due: none

Path conditions:
  clang_format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang_lint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  sc_empty_blank_lines: any of: \.sc((d|help)?)$
