Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

make `primitiveTicker` a static free function
  lang/LangSource/SC_WasmClient.cpp
  lang/LangSource/SC_WasmClient.h
Due: clang_format, clang_lint

allocate SC_WasmClient on the stack instead of heap
  lang/LangSource/SC_WasmClient.cpp
Due: clang_format, clang_lint

sclang: add an opt-in hook for dumping parse trees
  lang/LangSource/PyrLexer.cpp
Due: clang_format, clang_lint

sclang: DumpParseNode: fix five defects in the parse tree dumper
  lang/LangSource/DumpParseNode.cpp
Due: clang_format, clang_lint

Add `\degree` explanation
  HelpSource/Classes/Pbind.schelp
Due: sc_empty_blank_lines

Update Pbind.schelp
  HelpSource/Classes/Pbind.schelp
Due: sc_empty_blank_lines

classlib: remove bad returns in partialEvents
  SCClassLibrary/Common/Collections/Event.sc
Due: sc_empty_blank_lines

classlib: remove bad returns in partialEvents (#7716)
  SCClassLibrary/Common/Collections/Event.sc
Due: sc_empty_blank_lines

sclang/classlib: runtime error source code highlighting
  .github/workflows/actions.yml
  .github/workflows/sclang_error_regression.yml
  SCClassLibrary/Common/Core/Error.sc
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/Core/Kernel.sc
  SCClassLibrary/Common/Core/Object.sc
  lang/CMakeLists.txt
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/CompilerContext.cpp
  lang/LangSource/CompilerContext.hpp
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrKernel.h
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrSlot.cpp
  lang/LangSource/PyrSlot.h
  testsuite/classlibrary/TestAbstractFunction.sc
  testsuite/classlibrary/TestUnitTest.sc
  testsuite/sclangErrorRegressions/ErrorGenerator.sc
  testsuite/sclangErrorRegressions/generateError.scd
  testsuite/sclangErrorRegressions/regression.txt
Due: clang_format, clang_lint, sc_empty_blank_lines

fix naming issue
  SCClassLibrary/Common/Core/Kernel.sc
Due: sc_empty_blank_lines

add try block around nil.deprecated, it now throws an error
  testsuite/sclang/crash_deprecated.scd
Due: sc_empty_blank_lines

update workflow to use correct artifact of
  .github/workflows/sclang_error_regression.yml
Due: none

fix workflow
  .github/workflows/sclang_error_regression.yml
Due: none

add qt env flags to workflow
  .github/workflows/sclang_error_regression.yml
Due: none

fix ubuntu version
  .github/workflows/sclang_error_regression.yml
Due: none

fix path
  .github/workflows/sclang_error_regression.yml
Due: none

attempt to fix paths
  .github/workflows/sclang_error_regression.yml
  testsuite/sclangErrorRegressions/README.md
Due: none

remove line and file paths from error regression test
  testsuite/sclangErrorRegressions/README.md
  testsuite/sclangErrorRegressions/generateError.scd
  testsuite/sclangErrorRegressions/regression.txt
Due: sc_empty_blank_lines

make formatting of diff clearer
  .github/workflows/sclang_error_regression.yml
Due: none

ensuring highlighting lines up
  testsuite/sclangErrorRegressions/generateError.scd
  testsuite/sclangErrorRegressions/regression.txt
Due: sc_empty_blank_lines

sclang: missing null terminator/size
  editors/sc-ide/core/sc_process.cpp
Due: clang_format, clang_lint

fix small regression
  SCClassLibrary/Common/Core/Error.sc
Due: sc_empty_blank_lines

update regression
  .github/workflows/sclang_error_regression.yml
  testsuite/sclangErrorRegressions/regression.txt
Due: none

sclang: missing null terminator/size (#7720)
  editors/sc-ide/core/sc_process.cpp
Due: clang_format, clang_lint

sclang: make return carat in closed functions illegal syntax.
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/CompilerContext.hpp
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrParseNode.h
Due: clang_format, clang_lint

add wasm option to sclang cmake
  CMakeLists.txt
  external_libraries/CMakeLists.txt
  lang/CMakeLists.txt
Due: none

make canCallOS depend on if default thread is main thread
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/PyrLexer.h
  lang/LangSource/SCBase.h
  lang/LangSource/SC_LanguageClient.cpp
Due: clang_format, clang_lint

make sclang main method a noop for wasm
  lang/LangSource/cmdLineFuncs.cpp
Due: clang_format, clang_lint

patch sclang network stack for wasm
  lang/LangPrimSource/SC_ComPort.h
Due: clang_format, clang_lint

add wasm platform architecture primitive
  lang/LangPrimSource/PyrPlatformPrim.cpp
Due: clang_format, clang_lint

patch NetAddr primitives for wasm
  lang/LangPrimSource/OSCData.cpp
Due: clang_format, clang_lint
