Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

clang_format:
  name: Format C++ code
  entry: python tools/clang-format.py format
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

clang_lint:
  name: Lint C++ code
  entry: python tools/clang-format.py lint
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

sc_empty_blank_lines:
  name: Check trailing blank lines in sclang
  entry: python tools/remove_trailing_blank_lines.py
  pass_filenames: true
  language: python

Update help_browser.cpp
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

remove macCmd(Plus|Equal)Blocker
  editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/help_browser.hpp
Due: clang_format, clang_lint

remove winCtrlRBlocker
  editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/help_browser.hpp
Due: clang_format, clang_lint

WidgetWithChildrenShortcut -> WidgetShortcut
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

remove mac if for mActions
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

HelpBrowser class update
  HelpSource/Classes/HelpBrowser.schelp
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

build: expose static plugins as a build option
  .github/workflows/build_wasm.yml
  CMakeLists.txt
  README_WASM.md
  server/plugins/CMakeLists.txt
  server/scsynth/CMakeLists.txt
  server/scsynth/SC_Lib_Cintf.cpp
Due: clang_format, clang_lint

correct typos
  HelpSource/Classes/Buffer.schelp
  HelpSource/Reference/gui.schelp
Due: sc_empty_blank_lines

Update PathName.schelp
  HelpSource/Classes/PathName.schelp
Due: sc_empty_blank_lines

supernova: n_order applying the add action to every node
  server/supernova/sc/sc_osc_handler.cpp
  testsuite/classlibrary/TestServer_nodeOrder.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

typo correction
  HelpSource/Classes/QuartzComposerView.schelp
  HelpSource/Classes/SCImage.schelp
  HelpSource/Classes/View.schelp
Due: sc_empty_blank_lines

supernova: n_before and n_after using the moved node's parent instead of the target's group
  server/supernova/server/group.hpp
  testsuite/classlibrary/TestServer_nodeMove.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

supernova: /notify reply not including the max logins
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/server/server_args.cpp
  server/supernova/server/server_args.hpp
  testsuite/classlibrary/TestServer_notifyReply.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

fixed typo: Note on usage with Supernova referred to Resample
  HelpSource/Classes/Reblock.schelp
Due: sc_empty_blank_lines

gha: add timeout to post test results on Windows
  .github/workflows/test_windows.yml
Due: none

fix: wasm respect realTimeMemorySize option
  server/scsynth/SC_WebAudio.cpp
Due: clang_format, clang_lint

help system: replace JS escape and unescape func's
  HelpSource/OldHelpWrapper.html
  HelpSource/Overviews/Methods.html
  HelpSource/static/browse.js
  HelpSource/static/search.js
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

class library: expose Pipe -pid
  HelpSource/Classes/Pipe.schelp
  SCClassLibrary/Common/Files/File.sc
Due: sc_empty_blank_lines

TestServer_dumpTree: switch to NRT server
  testsuite/classlibrary/TestServer_dumpTree.sc
Due: sc_empty_blank_lines

Update TestServer_dumpTree.sc
  testsuite/classlibrary/TestServer_dumpTree.sc
Due: sc_empty_blank_lines

Path conditions:
  clang_format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang_lint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  sc_empty_blank_lines: any of: \.sc((d|help)?)$
