Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

clang_format:
  name: Format C++ code
  entry: python tools/clang-format.py format
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

clang_lint:
  name: Lint C++ code
  entry: python tools/clang-format.py lint
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

sc_empty_blank_lines:
  name: Check trailing blank lines in sclang
  entry: python tools/remove_trailing_blank_lines.py
  pass_filenames: true
  language: python

Server.program default uses scsynth bin from same dir as currently running sclang
  SCClassLibrary/Platform/linux/LinuxPlatform.sc
Due: sc_empty_blank_lines

Fallback to PATH
  SCClassLibrary/Platform/linux/LinuxPlatform.sc
Due: sc_empty_blank_lines

GraphDefLib_Read: pass buffer size
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/SC_GraphDef.h
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_SequencedCommand.h
Due: clang_format, clang_lint

add bound checking to GraphDef parsing
  server/scsynth/SC_GraphDef.cpp
Due: clang_format, clang_lint

improve GraphDef_Read:
  server/scsynth/SC_GraphDef.cpp
Due: clang_format, clang_lint

WindowsPlatform -clearMetadata: suppress error messages
  SCClassLibrary/Platform/windows/WindowsPlatform.sc
Due: sc_empty_blank_lines

const correctness
  server/scsynth/ReadWriteMacros.h
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/SC_GraphDef.h
Due: clang_format, clang_lint

supernova: skip variant data
  server/supernova/sc/sc_synthdef.cpp
Due: clang_format, clang_lint

ReadWriteMacros.h: add bounds checking
  server/scsynth/ReadWriteMacros.h
Due: clang_format, clang_lint

fix path concatenatino in SynthDef -load and -store
  SCClassLibrary/Common/Audio/SynthDef.sc
Due: sc_empty_blank_lines

fix readInt16_be()
  server/scsynth/ReadWriteMacros.h
Due: clang_format, clang_lint

SynthDesc: check header magic and version number
  SCClassLibrary/Common/Audio/SynthDesc.sc
Due: sc_empty_blank_lines

modernize BufColorAllocator
  server/scsynth/SC_GraphDef.cpp
Due: clang_format, clang_lint

supernova: use std::memcpy for type punning
  server/supernova/sc/sc_synthdef.cpp
Due: clang_format, clang_lint

SynthDef: more verification
  server/scsynth/SC_GraphDef.cpp
  server/supernova/sc/sc_synthdef.cpp
Due: clang_format, clang_lint

introduce SynthDef v3 format
  HelpSource/Reference/Synth-Definition-File-Format.schelp
  SCClassLibrary/Common/Audio/SynthDef.sc
  SCClassLibrary/Common/Audio/SynthDesc.sc
  SCClassLibrary/Common/Collections/Collection.sc
  server/scsynth/SC_GraphDef.cpp
  server/supernova/sc/sc_synthdef.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

further improve ReadWriteMacros + add tests
  server/scsynth/ReadWriteMacros.h
  testsuite/server/scsynth/CMakeLists.txt
  testsuite/server/scsynth/readwrite_test.cpp
  testsuite/server/scsynth/scsynth_test.cpp
  testsuite/server/scsynth/scsynth_test.hpp
Due: clang_format, clang_lint

SynthDesc -readSynthDef: skip variant data
  SCClassLibrary/Common/Audio/SynthDesc.sc
Due: sc_empty_blank_lines

test SynthDef versions
  testsuite/classlibrary/TestServer_SynthDefVersions.sc
  testsuite/classlibrary/TestSynthDefVersions.sc
Due: sc_empty_blank_lines

fix compile error on Linux ARM
  testsuite/server/scsynth/readwrite_test.cpp
Due: clang_format, clang_lint

Collection- writeDef: throw exception if the version number is out-of-range
  SCClassLibrary/Common/Audio/SynthDef.sc
  SCClassLibrary/Common/Collections/Collection.sc
Due: sc_empty_blank_lines

fix SynthDefOld
  SCClassLibrary/Common/Audio/SynthDefOld.sc
Due: sc_empty_blank_lines

SynthDef -writeDef: throw Exception instead of returning nil
  SCClassLibrary/Common/Audio/SynthDef.sc
Due: sc_empty_blank_lines

replace BOOST_REQUIRE with BOOST_TEST
  testsuite/server/scsynth/readwrite_test.cpp
Due: clang_format, clang_lint

SynthDesc: read variant values to detect corrupted synthdef stream
  SCClassLibrary/Common/Audio/SynthDesc.sc
Due: sc_empty_blank_lines

add tests for corrupted SynthDef data
  testsuite/classlibrary/TestServer_SynthDefVersions.sc
  testsuite/classlibrary/TestSynthDefVersions.sc
Due: sc_empty_blank_lines

update version number in Synth-Definition-File-Format.schelp
  HelpSource/Reference/Synth-Definition-File-Format.schelp
Due: sc_empty_blank_lines

Apply suggestion from @HotwheelsSisyphus
  HelpSource/Classes/Window.schelp
Due: sc_empty_blank_lines

sclang: parser: remove unused PyrLitDictNode
  lang/LangSource/Bison/lang11d
  lang/LangSource/Bison/lang11d_tab.cpp
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrParseNode.h
Due: clang_format, clang_lint

Update Window.schelp
  HelpSource/Classes/Window.schelp
Due: sc_empty_blank_lines

improve/fix sc_msg_iter
  include/plugin_interface/sc_msg_iter.h
Due: clang_format, clang_lint

supernova/server/node_graph.hpp: add comments and fix bug in group_free_dsp()
  server/supernova/server/node_graph.hpp
Due: clang_format, clang_lint

supernova: slightly improve sc_synth::sc_synth()
  server/supernova/sc/sc_synth.cpp
Due: clang_format, clang_lint

plugin_interface: add SC_Commad.h
  include/plugin_interface/SC_Command.h
  include/plugin_interface/SC_InterfaceTable.h
  include/plugin_interface/SC_Unit.h
  server/scsynth/SC_Prototypes.h
  server/scsynth/SC_SequencedCommand.h
  server/scsynth/SC_UnitDef.h
  server/supernova/sc/sc_osc_handler.hpp
Due: clang_format, clang_lint

scsynth/supernova: add DoAsynchronousCommandEx
  include/plugin_interface/SC_InterfaceTable.h
  server/plugins/DemoUGens.cpp
  server/scsynth/SC_Prototypes.h
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_SequencedCommand.h
  server/scsynth/SC_World.cpp
  server/supernova/sc/sc_endpoint.hpp
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_osc_handler.hpp
  server/supernova/sc/sc_plugin_interface.cpp
  server/supernova/sc/sc_plugin_interface.hpp
  server/supernova/sc/sc_ugen_factory.cpp
  server/supernova/sc/sc_ugen_factory.hpp
Due: clang_format, clang_lint

supernova: make server_node refcount non-atomic
  server/supernova/server/node_types.hpp
Due: clang_format, clang_lint

supernova: pass endpoint_ptr by const reference whenever possible
  server/supernova/sc/sc_osc_handler.cpp
Due: clang_format, clang_lint

add DefineUnitCmdEx
  include/plugin_interface/SC_InterfaceTable.h
  server/scsynth/SC_Graph.cpp
  server/scsynth/SC_GraphDef.h
  server/scsynth/SC_MiscCmds.cpp
  server/scsynth/SC_UnitDef.cpp
  server/scsynth/SC_UnitDef.h
  server/scsynth/SC_World.cpp
  server/supernova/sc/sc_osc_handler.cpp
  server/supernova/sc/sc_plugin_interface.cpp
  server/supernova/sc/sc_synth.cpp
  server/supernova/sc/sc_synth.hpp
  server/supernova/sc/sc_ugen_factory.cpp
  server/supernova/sc/sc_ugen_factory.hpp
Due: clang_format, clang_lint

Path conditions:
  clang_format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang_lint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  sc_empty_blank_lines: any of: \.sc((d|help)?)$
