Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

wrap uint32 to ClientID where applicable
  server/scsynth/SC_ClientManager.h
Due: clang_format, clang_lint

change getClientID implementation
  server/scsynth/SC_ClientManager.h
Due: clang_format, clang_lint

move mClientIdentification of TcpConnection class up
  server/scsynth/SC_ComPort.cpp
Due: clang_format, clang_lint

add import of optional and string
  server/scsynth/SC_ClientManager.h
Due: clang_format, clang_lint

fix jsReplyFunc to use const ReplyAddress
  server/scsynth/SC_WebAudio.cpp
Due: clang_format, clang_lint

tests: Median: render the signal instead of leaving synths running
  testsuite/classlibrary/TestFilterUGens.sc
Due: sc_empty_blank_lines

remove unintended import
  server/scsynth/SC_ComPort.cpp
Due: clang_format, clang_lint

typo correction
  HelpSource/Reference/SCDocStyling.schelp
Due: sc_empty_blank_lines

Update SCDocStyling.schelp
  HelpSource/Reference/SCDocStyling.schelp
Due: sc_empty_blank_lines

replace `./../` with `../`
  HelpSource/Reference/SCDocStyling.schelp
  HelpSource/static/scdoc.css
Due: sc_empty_blank_lines

Update QLevelIndicator.sc
  SCClassLibrary/Common/GUI/Base/QLevelIndicator.sc
Due: sc_empty_blank_lines

Revert "Update QLevelIndicator.sc"
  SCClassLibrary/Common/GUI/Base/QLevelIndicator.sc
Due: sc_empty_blank_lines

replace OSCProxy by OSCFunc
  SCClassLibrary/Common/GUI/Base/QLevelIndicator.sc
Due: sc_empty_blank_lines

Update Function.schelp
  HelpSource/Classes/Function.schelp
Due: sc_empty_blank_lines

Add horizontal line at the end of `METHOD::` blocks
  HelpSource/static/scdoc.css
  SCClassLibrary/SCDoc/SCDoc.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Due: sc_empty_blank_lines

Adjust .method-group spacing (1.5 em, 2 px) and h2 line thickness (4 px)
  HelpSource/static/scdoc.css
Due: none

reorder search result in documentation
  HelpSource/static/search.js
Due: none

Add left vertical line to method in TOC
  HelpSource/static/scdoc.css
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Due: sc_empty_blank_lines

Update memory allocation to use std::vector in SC_CoreAudio
  server/scsynth/SC_CoreAudio.cpp
Due: clang_format, clang_lint

Fix broken SCDoc clickable link caused by whitespace
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

restore removed white space by SC-IDE
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

Update String.schelp
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

fix TOC links in SCDoc SCDocHTMLRenderer
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Due: sc_empty_blank_lines

fix a typo
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Due: sc_empty_blank_lines

Add syntactic sugar for HelpBrowser.goTo to String
  SCClassLibrary/Common/GUI/PlusGUI/Collections/StringPlusGUI.sc
Due: sc_empty_blank_lines

update documentation
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

Update README_WINDOWS.md
  README_WINDOWS.md
Due: none

make invalid utf8 and non-inlineable functions warnings not errors
  lang/LangSource/CompilerContext.cpp
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

classlib: use escape codes in terminal to highlight links
  SCClassLibrary/Common/Collections/String.sc
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

added ScIDE.clearPostWindow and corresponding code in main_window.cpp
  SCClassLibrary/scide_scqt/ScIDE.sc
  editors/sc-ide/widgets/main_window.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

incorrect code location in error report, also typo
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

add macro guard for qt5
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint

improve error when the class library can't be compiled.
  lang/LangSource/PyrLexer.cpp
Due: clang_format, clang_lint

add version of error to duplicate identifier in class
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

a bunch of typos
  lang/LangSource/CompilerContext.cpp
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

fix recompile class library shortcut in terminal client
  editors/sc-ide/core/sc_process.cpp
  lang/LangSource/SC_TerminalClient.cpp
Due: clang_format, clang_lint
