Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

cmake: fix sclang unity build on Windows
  lang/CMakeLists.txt
Due: none

remove header row
  SCClassLibrary/Common/Collections/Scale.sc
Due: sc_empty_blank_lines

Enhance key-value pair explanation
  HelpSource/Classes/CallOnce.schelp
  HelpSource/Classes/Collection.schelp
  HelpSource/Classes/Function.schelp
  HelpSource/Classes/GridLayout.schelp
  HelpSource/Classes/LineLayout.schelp
  HelpSource/Classes/Object.schelp
  HelpSource/Classes/Synth.schelp
  HelpSource/Reference/Key-Value-Pairs.schelp
  HelpSource/Reference/Syntax-Shortcuts.schelp
Due: sc_empty_blank_lines

includes kwarg explanation (with typo corection)
  HelpSource/Reference/Key-Value-Pairs.schelp
  HelpSource/Reference/Messages.schelp
  HelpSource/Reference/Syntax-Shortcuts.schelp
Due: sc_empty_blank_lines

Edit arguments in Functions.schelp
  HelpSource/Reference/Functions.schelp
  HelpSource/Reference/Key-Value-Pairs.schelp
  HelpSource/Reference/Syntax-Shortcuts.schelp
Due: sc_empty_blank_lines

Unify terminology for keyword arguments and function argument categories across documentation
  HelpSource/Classes/Boolean.schelp
  HelpSource/Classes/CallOnce.schelp
  HelpSource/Classes/DoesNotUnderstandError.schelp
  HelpSource/Classes/Event.schelp
  HelpSource/Classes/Function.schelp
  HelpSource/Classes/FunctionDef.schelp
  HelpSource/Classes/Maybe.schelp
  HelpSource/Classes/Object.schelp
  HelpSource/Classes/Pbind.schelp
  HelpSource/Classes/PbindProxy.schelp
  HelpSource/Classes/Pbindef.schelp
  HelpSource/Guides/WritingClasses.schelp
  HelpSource/Reference/Functions.schelp
  HelpSource/Reference/Key-Value-Pairs.schelp
  HelpSource/Reference/Messages.schelp
  HelpSource/Reference/Syntax-Shortcuts.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_03_What_Is_Pbind.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_060_Filter_Patterns.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_06c_Composition_of_Patterns.schelp
  HelpSource/Tutorials/Getting-Started/04-Functions-and-Other-Functionality.schelp
  HelpSource/Tutorials/Mark_Polishook_tutorial/13_BinaryOp_synthesis.schelp
Due: sc_empty_blank_lines

key–value -> key-value
  HelpSource/Classes/Collection.schelp
  HelpSource/Classes/Synth.schelp
  HelpSource/Reference/Key-Value-Pairs.schelp
Due: sc_empty_blank_lines

Fix typos and clean up the text
  HelpSource/Classes/Collection.schelp
  HelpSource/Classes/Object.schelp
  HelpSource/Classes/Synth.schelp
  HelpSource/Reference/Key-Value-Pairs.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_03_What_Is_Pbind.schelp
Due: sc_empty_blank_lines

add CMAKE_GENERATOR test to catch Ninja build
  editors/sc-ide/CMakeLists.txt
  lang/CMakeLists.txt
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
Due: none

Update Functions.schelp
  HelpSource/Reference/Functions.schelp
Due: sc_empty_blank_lines

sclexer: enable all warnings and make them all errors
  cmake_modules/CompilerWarnings.cmake
  langutils/sc_lexer/CMakeLists.txt
  langutils/sc_lexer/include/codepoint_stream.hpp
  langutils/sc_lexer/include/lexer.hpp
  langutils/sc_lexer/include/source_utils.hpp
  langutils/sc_lexer/src/codepoint.cpp
  langutils/sc_lexer/src/codepoint_stream.cpp
  langutils/sc_lexer/src/source_utils.cpp
  langutils/sc_lexer/standalone/CMakeLists.txt
  langutils/sc_lexer/standalone/main.cpp
Due: clang_format, clang_lint

build: msvc add diagnostic:caret
  CMakeLists.txt
Due: none

Update cmake_modules/CompilerWarnings.cmake
  cmake_modules/CompilerWarnings.cmake
Due: none

Update langutils/sc_lexer/CMakeLists.txt
  langutils/sc_lexer/CMakeLists.txt
Due: none

Update langutils/sc_lexer/standalone/CMakeLists.txt
  langutils/sc_lexer/standalone/CMakeLists.txt
Due: none

rename
  cmake_modules/CompilerWarnings.cmake
  langutils/sc_lexer/CMakeLists.txt
  langutils/sc_lexer/standalone/CMakeLists.txt
Due: none

sclexer: fix console encoding for Windows in lexer standalone
  langutils/sc_lexer/standalone/main.cpp
Due: clang_format, clang_lint

fix raw string data access
  langutils/sc_lexer/standalone/main.cpp
Due: clang_format, clang_lint

sclexer: fix infinite loop caused by lexer failing to advance on invalid UTF-8
  langutils/sc_lexer/src/codepoint.cpp
Due: clang_format, clang_lint

Move examples folder to HelpSource
  CMakeLists.txt
  HelpSource/Help.schelp
  SCClassLibrary/Platform/Platform.sc
  editors/sc-ide/CMakeLists.txt
Due: sc_empty_blank_lines

Update help_browser.cpp
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

Update post_window.cpp
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint

update
  editors/sc-ide/widgets/post_window.cpp
  editors/sc-ide/widgets/post_window.hpp
Due: clang_format, clang_lint

revert partially
  editors/sc-ide/widgets/post_window.cpp
  editors/sc-ide/widgets/post_window.hpp
Due: clang_format, clang_lint

Update editors/sc-ide/widgets/post_window.hpp
  editors/sc-ide/widgets/post_window.hpp
Due: clang_format, clang_lint

Help: Reblock.schelp correct note on use with Supernova.
  HelpSource/Classes/Reblock.schelp
Due: sc_empty_blank_lines

PostWindow: remove -> marker; distinguish return values by color only
  SCClassLibrary/Common/Core/Kernel.sc
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

typo corrections
  HelpSource/Reference/gui.schelp
  editors/sc-ide/widgets/post_window.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

Update gui.schelp
  HelpSource/Reference/gui.schelp
Due: sc_empty_blank_lines
