Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

Update README.md
  README.md
Due: none

register new file type `.scr` for macOS
  cmake_modules/MacOSXBundleInfo.plist.in
Due: none

init rich text editor
  editors/sc-ide/CMakeLists.txt
  editors/sc-ide/widgets/code_editor/rich_editor.cpp
  editors/sc-ide/widgets/code_editor/rich_editor.hpp
  editors/sc-ide/widgets/code_editor/rich_toolbar.cpp
  editors/sc-ide/widgets/code_editor/rich_toolbar.hpp
Due: clang_format, clang_lint

add create new rich text document action also adapt for new wrapped editor type
  editors/sc-ide/widgets/main_window.cpp
  editors/sc-ide/widgets/main_window.hpp
Due: clang_format, clang_lint

adapt lookup_dialog for new Document constructor
  editors/sc-ide/widgets/lookup_dialog.cpp
Due: clang_format, clang_lint

fix: guard help_browser import with qtwebengine ifdef
  editors/sc-ide/widgets/code_editor/rich_editor.cpp
Due: clang_format, clang_lint

Scale.directory: removes space in text output
  SCClassLibrary/Common/Collections/Scale.sc
Due: sc_empty_blank_lines

rename LinkBPM to LinkCPS although Link clock uses BPM internally, SuperCollider uses CPS for its clocks.
  HelpSource/Classes/LinkBPM.schelp
  HelpSource/Classes/LinkCPS.schelp
  HelpSource/Classes/LinkClock.schelp
  HelpSource/Classes/LinkPhase.schelp
  SCClassLibrary/Common/Audio/LinkUGen.sc
  server/plugins/LinkUGen.cpp
  testsuite/classlibrary/TestLinkUGen.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

remove debug poll
  SCClassLibrary/Common/Audio/LinkUGen.sc
Due: sc_empty_blank_lines

write help for LinkJump
  HelpSource/Classes/LinkJump.schelp
Due: sc_empty_blank_lines

fix:corrected typos
  HelpSource/Classes/SimpleNumber.schelp
Due: sc_empty_blank_lines

fix LinkCPS test
  testsuite/classlibrary/TestLinkUGen.sc
Due: sc_empty_blank_lines

move wintime.h and SC_StringBuffer.h from include/common to common
  common/SC_StringBuffer.h
  common/wintime.h
Due: clang_format, clang_lint

move forward declarations of scfft functions to private header SC_fftlib.hpp
  common/SC_fftlib.cpp
  common/SC_fftlib.hpp
  common/fftlib.h
  include/common/SC_fftlib.h
  server/scsynth/SC_World.cpp
  server/supernova/sc/sc_plugin_interface.cpp
Due: clang_format, clang_lint

remove unused macro from SC_Types.h
  include/common/SC_Types.h
Due: clang_format, clang_lint

Unroll.h: explain that these macros are obsolete and should not be used in new code
  include/plugin_interface/Unroll.h
Due: clang_format, clang_lint

testsuite: add minimal C API example
  testsuite/server/CMakeLists.txt
  testsuite/server/plugins/CMakeLists.txt
  testsuite/server/plugins/c_api_test.c
Due: none

convert all necessary plugin headers to pure C
  common/SC_fftlib.cpp
  common/SC_fftlib.hpp
  include/common/SC_BoundsMacros.h
  include/common/SC_Endian.h
  include/common/SC_Types.h
  include/common/SC_fftlib.h
  include/common/clz.h
  include/plugin_interface/FFT_UGens.h
  include/plugin_interface/SCComplex.h
  include/plugin_interface/SC_BufGen.h
  include/plugin_interface/SC_DemandUnit.h
  include/plugin_interface/SC_FifoMsg.h
  include/plugin_interface/SC_InterfaceTable.h
  include/plugin_interface/SC_Node.h
  include/plugin_interface/SC_PlugIn.h
  include/plugin_interface/SC_RGen.h
  include/plugin_interface/SC_SndBuf.h
  include/plugin_interface/SC_Unit.h
  include/plugin_interface/SC_World.h
  include/plugin_interface/sc_msg_iter.h
  include/server/SC_WorldOptions.h
  lang/LangPrimSource/OSCData.cpp
  server/plugins/DelayUGens.cpp
  server/scsynth/SC_AU.cpp
  server/scsynth/SC_AU.h
  server/scsynth/SC_BufGen.cpp
  server/scsynth/SC_ComPort.cpp
  server/scsynth/SC_CoreAudio.cpp
  server/scsynth/SC_CoreAudio.h
  server/scsynth/SC_Graph.cpp
  server/scsynth/SC_GraphDef.h
  server/scsynth/SC_Jack.cpp
  server/scsynth/SC_Lib.cpp
  server/scsynth/SC_Lib_Cintf.h
  server/scsynth/SC_PortAudio.cpp
  server/scsynth/SC_Prototypes.h
  server/scsynth/SC_UnitDef.h
  server/scsynth/SC_World.cpp
  server/scsynth/iPhone/iSCSynthController.h
  server/scsynth/scsynth_main.cpp
Due: clang_format, clang_lint

add SCBool typedef and apply typedefs consistently
  common/SC_SndFileHelpers.hpp
  include/common/SC_Types.h
  include/common/clz.h
  include/plugin_interface/SCComplex.h
  include/plugin_interface/SC_DemandUnit.h
  include/plugin_interface/SC_Graph.h
  include/plugin_interface/SC_InterfaceTable.h
  include/plugin_interface/SC_Rate.h
  include/plugin_interface/SC_SndBuf.h
  include/plugin_interface/SC_Unit.h
  include/plugin_interface/SC_World.h
  include/plugin_interface/SC_sndfile_stub.h
  include/plugin_interface/sc_msg_iter.h
  server/plugins/DemoUGens.cpp
  server/scsynth/SC_BufGen.cpp
  server/scsynth/SC_Graph.cpp
  server/scsynth/SC_Group.cpp
  server/scsynth/SC_Node.cpp
  server/scsynth/SC_Prototypes.h
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_SequencedCommand.h
  server/scsynth/SC_UnitDef.cpp
  server/scsynth/SC_UnitDef.h
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

update supernova
  server/supernova/sc/sc_osc_handler.hpp
  server/supernova/sc/sc_plugin_interface.cpp
  server/supernova/server/server.cpp
Due: clang_format, clang_lint

Update Buffer.schelp
  HelpSource/Classes/Buffer.schelp
Due: sc_empty_blank_lines

make FFT_UGens.h compile as C
  include/plugin_interface/FFT_UGens.h
  include/plugin_interface/SC_Complex.h
  testsuite/server/plugins/c_api_test.c
Due: clang_format, clang_lint

Update Buffer_PlayBuf_BufRd_SoundFile.schelp
  HelpSource/Guides/Buffer_PlayBuf_BufRd_SoundFile.schelp
Due: sc_empty_blank_lines

bump plugin API version
  include/plugin_interface/SC_InterfaceTable.h
Due: clang_format, clang_lint

Correct wrong white space
  HelpSource/Help.schelp
Due: sc_empty_blank_lines

define SCBool as 'bool' when compiling as C++
  include/common/SC_Types.h
Due: clang_format, clang_lint

make SC_BoundsMacros.h C++ only again
  include/common/SC_BoundsMacros.h
  include/common/SC_Types.h
  include/plugin_interface/SC_PlugIn.h
Due: clang_format, clang_lint

move NAN definition to SC_Constants.h
  include/plugin_interface/SC_Constants.h
  include/plugin_interface/SC_PlugIn.h
Due: clang_format, clang_lint

add UGen note to Link UGens summary
  HelpSource/Classes/LinkCPS.schelp
  HelpSource/Classes/LinkJump.schelp
  HelpSource/Classes/LinkPhase.schelp
Due: sc_empty_blank_lines

improve phrasing of LinkCPS docs
  HelpSource/Classes/LinkCPS.schelp
Due: sc_empty_blank_lines

add note about the singleton nature of the server Link clock in the docs
  HelpSource/Classes/LinkPhase.schelp
Due: sc_empty_blank_lines

rename LinkPhase.setCPS to LinkPhase.setTempo this is more consistent with the clocks used by sclang
  HelpSource/Classes/LinkCPS.schelp
  HelpSource/Classes/LinkJump.schelp
  HelpSource/Classes/LinkPhase.schelp
  SCClassLibrary/Common/Audio/LinkUGen.sc
  testsuite/classlibrary/TestLinkUGen.sc
Due: sc_empty_blank_lines

remove nil as default parameter make nil implicit
  SCClassLibrary/Common/Audio/LinkUGen.sc
Due: sc_empty_blank_lines

delegate nil resolution of server to play method
  SCClassLibrary/Common/Audio/LinkUGen.sc
Due: sc_empty_blank_lines

Update Help.schelp
  HelpSource/Help.schelp
Due: sc_empty_blank_lines

Yes
  HelpSource/Reference/StartupFile.schelp
Due: sc_empty_blank_lines

fix formatting
  common/SC_fftlib.cpp
  include/common/SC_Types.h
  include/plugin_interface/FFT_UGens.h
  include/plugin_interface/SC_Complex.h
  include/plugin_interface/SC_InterfaceTable.h
  include/plugin_interface/SC_RGen.h
  include/plugin_interface/SC_SndBuf.h
  include/plugin_interface/SC_Unit.h
  include/plugin_interface/sc_msg_iter.h
  server/scsynth/SC_Graph.cpp
  server/scsynth/SC_Prototypes.h
  server/scsynth/SC_UnitDef.cpp
  server/scsynth/SC_World.cpp
  testsuite/server/plugins/c_api_test.c
Due: clang_format, clang_lint

keep SCWorld_Allocator C++ only
  include/plugin_interface/SC_InterfaceTable.h
Due: clang_format, clang_lint
