Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

clang_format:
  name: Format C++ code
  entry: python tools/clang-format.py format
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

clang_lint:
  name: Lint C++ code
  entry: python tools/clang-format.py lint
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

sc_empty_blank_lines:
  name: Check trailing blank lines in sclang
  entry: python tools/remove_trailing_blank_lines.py
  pass_filenames: true
  language: python

add guide to startup, autoRun, execution, load, CLI, etc
  HelpSource/Guides/startup_autoRun_execution_load.schelp
  HelpSource/Help.schelp
Due: sc_empty_blank_lines

Update startup_autoRun_execution_load.schelp
  HelpSource/Guides/startup_autoRun_execution_load.schelp
Due: sc_empty_blank_lines

Recorder.numChannels becomes alias for Recorder.recChannels
  SCClassLibrary/Common/Control/Recorder.sc
Due: sc_empty_blank_lines

server.recOPTION forwards to server.recorder.recOPTION instead of server.options.recOPTION
  SCClassLibrary/Common/Control/Recorder.sc
  SCClassLibrary/Common/Control/Server.sc
Due: sc_empty_blank_lines

Recorder.prRecord: addAction becomes \addAfter if target node isKindOf(Synth)
  SCClassLibrary/Common/Control/Recorder.sc
Due: sc_empty_blank_lines

SCD -> scd
  HelpSource/Guides/startup_autoRun_execution_load.schelp
Due: sc_empty_blank_lines

allow `\filter` and `\filterIn` roles to also be used when connecting Ndefs via `<<>`
  HelpSource/Reference/NodeProxy_roles.schelp
  SCClassLibrary/JITLib/ProxySpace/wrapForNodeProxy.sc
Due: sc_empty_blank_lines

adapted if statements to common style, typo in helpfile
  HelpSource/Reference/NodeProxy_roles.schelp
  SCClassLibrary/JITLib/ProxySpace/wrapForNodeProxy.sc
Due: sc_empty_blank_lines

Remove init method etc., as per review
  SCClassLibrary/Common/Control/Recorder.sc
Due: sc_empty_blank_lines

missing semicolon
  SCClassLibrary/Common/Control/Recorder.sc
Due: sc_empty_blank_lines

msvc: reorganize warnings
  CMakeLists.txt
  external_libraries/CMakeLists.txt
Due: none

fixed failing test; added warning when prepareForRecord is called when server not running
  SCClassLibrary/Common/Control/Recorder.sc
Due: sc_empty_blank_lines

replace the term method(s) by other terms
  HelpSource/Guides/startup_autoRun_execution_load.schelp
Due: sc_empty_blank_lines

build: remove NO_GPL3 option
  CMakeLists.txt
  HelpSource/Other/Licensing.html
  editors/CMakeLists.txt
Due: none

build: clean up hidapi settings
  CMakeLists.txt
  external_libraries/CMakeLists.txt
  lang/CMakeLists.txt
Due: none

Make '.asFraction` useful
  SCClassLibrary/Common/Collections/Array.sc
  SCClassLibrary/Common/Collections/Event.sc
Due: sc_empty_blank_lines

typo correction
  SCClassLibrary/Common/Collections/Array.sc
Due: sc_empty_blank_lines

add box to specify sclang port within IDE value gets stored in the `sc_ide_conf.yaml` and defaults to 57120 if not present in the yaml file
  editors/sc-ide/core/sc_process.cpp
  editors/sc-ide/forms/settings_sclang.ui
  editors/sc-ide/widgets/settings/sclang_page.cpp
Due: clang_format, clang_lint

trigger restart language dialog when modifying sclang port number
  editors/sc-ide/widgets/settings/sclang_page.cpp
Due: clang_format, clang_lint

change signal of sclang port changed
  editors/sc-ide/widgets/settings/sclang_page.cpp
  editors/sc-ide/widgets/settings/sclang_page.hpp
Due: clang_format, clang_lint

refactoring to make restart language dialog workflow clearer also prefixed member variables with m
  editors/sc-ide/widgets/settings/sclang_page.cpp
  editors/sc-ide/widgets/settings/sclang_page.hpp
Due: clang_format, clang_lint

use same port number boundaries as sclang
  editors/sc-ide/forms/settings_sclang.ui
Due: none

use default sclang port value from .ui file
  editors/sc-ide/widgets/settings/sclang_page.cpp
Due: clang_format, clang_lint

further aligning of method and variable names
  editors/sc-ide/widgets/settings/sclang_page.cpp
  editors/sc-ide/widgets/settings/sclang_page.hpp
Due: clang_format, clang_lint

reflect reviews
  HelpSource/Guides/startup_autoRun_execution_load.schelp
  HelpSource/Guides/startup_eventHook_autoRun_execution_load.schelp
Due: sc_empty_blank_lines

Update startup_eventHook_autoRun_execution_load.schelp
  HelpSource/Guides/startup_eventHook_autoRun_execution_load.schelp
Due: sc_empty_blank_lines

Update Help.schelp
  HelpSource/Help.schelp
Due: sc_empty_blank_lines

Kwargs: String.load, loadPath, loadRelative; Interpreter.executeFile
  SCClassLibrary/Common/Collections/String.sc
  SCClassLibrary/Common/Core/Kernel.sc
Due: sc_empty_blank_lines

Tests for String.load
  testsuite/classlibrary/TestString.sc
  testsuite/classlibrary/assets/TestString.scd
Due: sc_empty_blank_lines

docs
  HelpSource/Classes/Interpreter.schelp
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

switch to type safe qt connections
  editors/sc-ide/core/doc_manager.cpp
  editors/sc-ide/core/main.cpp
  editors/sc-ide/core/main.hpp
  editors/sc-ide/core/sc_process.cpp
  editors/sc-ide/core/sc_process.hpp
  editors/sc-ide/core/sc_server.cpp
  editors/sc-ide/primitives/sc_ipc_client.cpp
  editors/sc-ide/widgets/audio_status_box.cpp
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
  editors/sc-ide/widgets/code_editor/completion_menu.cpp
  editors/sc-ide/widgets/code_editor/editor.cpp
  editors/sc-ide/widgets/code_editor/highlighter.cpp
  editors/sc-ide/widgets/code_editor/highlighter.hpp
  editors/sc-ide/widgets/code_editor/overlay.cpp
  editors/sc-ide/widgets/code_editor/sc_editor.cpp
  editors/sc-ide/widgets/doc_list.cpp
  editors/sc-ide/widgets/documents_dialog.cpp
  editors/sc-ide/widgets/editor_box.cpp
  editors/sc-ide/widgets/find_replace_tool.cpp
  editors/sc-ide/widgets/goto_line_tool.hpp
  editors/sc-ide/widgets/help_browser.cpp
  editors/sc-ide/widgets/lang_status_box.cpp
  editors/sc-ide/widgets/lookup_dialog.cpp
  editors/sc-ide/widgets/main_window.cpp
  editors/sc-ide/widgets/multi_editor.cpp
  editors/sc-ide/widgets/post_window.cpp
  editors/sc-ide/widgets/session_switch_dialog.cpp
  editors/sc-ide/widgets/sessions_dialog.hpp
  editors/sc-ide/widgets/settings/dialog.cpp
  editors/sc-ide/widgets/settings/editor_page.cpp
  editors/sc-ide/widgets/settings/editor_page.hpp
  editors/sc-ide/widgets/settings/general_page.cpp
  editors/sc-ide/widgets/settings/sclang_page.cpp
  editors/sc-ide/widgets/settings/shortcuts_page.cpp
  editors/sc-ide/widgets/util/docklet.cpp
  editors/sc-ide/widgets/util/path_chooser_widget.hpp
  editors/sc-ide/widgets/util/text_format_list_widget.cpp
Due: clang_format, clang_lint

use lambda function to connect loadProgressIndicator within Qt5
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

re-introduce old connect style for Qt5
  editors/sc-ide/widgets/editor_box.cpp
  editors/sc-ide/widgets/help_browser.cpp
Due: clang_format, clang_lint

use lambda function to connect DocComboBox within Qt5
  editors/sc-ide/widgets/editor_box.cpp
Due: clang_format, clang_lint

Path conditions:
  clang_format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang_lint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  sc_empty_blank_lines: any of: \.sc((d|help)?)$
