Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

fix flatpak artifact suffix
  .github/workflows/build_flatpak.yml
Due: none

set flatpak ci name
  .github/workflows/build_flatpak.yml
Due: none

Update HelpSource/Classes/PathName.schelp
  HelpSource/Classes/PathName.schelp
Due: sc_empty_blank_lines

Update PathName.schelp
  HelpSource/Classes/PathName.schelp
Due: sc_empty_blank_lines

add .cs to String.schelp
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

.asCompileString to .cs
  HelpSource/Classes/Float.schelp
  HelpSource/Classes/Font.schelp
  HelpSource/Classes/Image.schelp
  HelpSource/Classes/Object.schelp
  HelpSource/Classes/Post.schelp
  HelpSource/Classes/Score.schelp
  HelpSource/Guides/Internal-Snooping.schelp
  HelpSource/Guides/WritingClasses.schelp
  HelpSource/Tutorials/JITLib/jitlib_asCompileString.schelp
Due: sc_empty_blank_lines

Update String.schelp
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

Update Internal-Snooping.schelp
  HelpSource/Guides/Internal-Snooping.schelp
Due: sc_empty_blank_lines

.cs to .asCompileString
  HelpSource/Classes/Float.schelp
  HelpSource/Classes/Font.schelp
  HelpSource/Classes/IdentityDictionary.schelp
  HelpSource/Classes/Image.schelp
  HelpSource/Classes/Object.schelp
  HelpSource/Classes/Post.schelp
  HelpSource/Classes/Score.schelp
  HelpSource/Guides/Internal-Snooping.schelp
  HelpSource/Guides/WritingClasses.schelp
  HelpSource/Guides/standalones.schelp
  HelpSource/Tutorials/JITLib/jitlib_asCompileString.schelp
Due: sc_empty_blank_lines

Update Object.schelp
  HelpSource/Classes/Object.schelp
Due: sc_empty_blank_lines

init autocompletion menu for methods
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
  editors/sc-ide/widgets/code_editor/autocompleter.hpp
  editors/sc-ide/widgets/code_editor/completion_menu.cpp
  editors/sc-ide/widgets/code_editor/completion_menu.hpp
Due: clang_format, clang_lint

add method inline docs to autocomplete
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
  editors/sc-ide/widgets/code_editor/autocompleter.hpp
Due: clang_format, clang_lint

add class method inline docs to autocomplete
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
  editors/sc-ide/widgets/code_editor/autocompleter.hpp
Due: clang_format, clang_lint

add documentation for flatpak
  README.md
  README_LINUX.md
Due: none

reduce flatpak build arguments
  platform/linux/online.supercollider.SuperCollider.yml
Due: none

fix flatpak s3 artifact name
  .github/workflows/actions.yml
Due: none

add flatpak suffix to artifact name
  .github/workflows/actions.yml
  .github/workflows/build_flatpak.yml
Due: none

change flatpak artifact suffix to Linux
  .github/workflows/actions.yml
  .github/workflows/build_flatpak.yml
Due: none

change s3 artifact prefix order
  .github/workflows/actions.yml
Due: none

remove iostream
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
Due: clang_format, clang_lint

move doc filling methods private
  editors/sc-ide/widgets/code_editor/autocompleter.hpp
Due: clang_format, clang_lint

change out-of-bounds check
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
Due: clang_format, clang_lint

remove default argument for isClassMethod
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
Due: clang_format, clang_lint

use text editor font as reference for autocomplete menu
  editors/sc-ide/widgets/code_editor/completion_menu.cpp
Due: clang_format, clang_lint

make links in completion menu use symbol color of the theme
  editors/sc-ide/widgets/code_editor/completion_menu.cpp
Due: clang_format, clang_lint

make font size of completion menu relative to editor size
  editors/sc-ide/widgets/code_editor/completion_menu.cpp
Due: clang_format, clang_lint

use getter method docs in case the docs for a setter are requested
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
Due: clang_format, clang_lint

apply theme to methodcallwidget
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
Due: clang_format, clang_lint

remove comment about std::optional
  editors/sc-ide/widgets/code_editor/completion_menu.cpp
Due: clang_format, clang_lint

use const for currentClass
  editors/sc-ide/widgets/code_editor/completion_menu.cpp
  editors/sc-ide/widgets/code_editor/completion_menu.hpp
Due: clang_format, clang_lint

move infos init closer to where it will be used
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
Due: clang_format, clang_lint

reverse order of adding item to avoid memory leak in case adding fails
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
Due: clang_format, clang_lint

use const auto* for klass
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
Due: clang_format, clang_lint

use const auto& for classFontColor
  editors/sc-ide/widgets/code_editor/completion_menu.cpp
Due: clang_format, clang_lint

use const reference over pointer
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
  editors/sc-ide/widgets/code_editor/autocompleter.hpp
Due: clang_format, clang_lint

use monospace font for signature
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
Due: clang_format, clang_lint

change ownership passing of QString
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
  editors/sc-ide/widgets/code_editor/autocompleter.hpp
Due: clang_format, clang_lint

Make http:// and https:// links clickable in the Post window
  SCClassLibrary/scide_scqt/ScIDE.sc
Due: sc_empty_blank_lines
