Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

Use log file to address issues with output buffering
  testsuite/classlibrary/TestServer_dumpTree.sc
Due: sc_empty_blank_lines

Update PathName.schelp
  HelpSource/Classes/PathName.schelp
Due: sc_empty_blank_lines

Update TestServer_dumpTree.sc
  testsuite/classlibrary/TestServer_dumpTree.sc
Due: sc_empty_blank_lines

don't strip carriage return
  testsuite/classlibrary/TestServer_dumpTree.sc
Due: sc_empty_blank_lines

add flatpack build files
  platform/linux/online.supercollider.SuperCollider.metainfo.xml
  platform/linux/online.supercollider.SuperCollider.yml
Due: none

add flatpack build in CI
  .github/workflows/actions.yml
  .github/workflows/build_flatpak.yml
Due: none

Update PathName.schelp
  HelpSource/Classes/PathName.schelp
  SCClassLibrary/Common/Files/PathName.sc
Due: sc_empty_blank_lines

Windows readme: update "installing supercollider"
  README_WINDOWS.md
Due: none

remove outdated comment
  platform/linux/online.supercollider.SuperCollider.yml
Due: none

add flatpak to release
  .github/workflows/actions.yml
Due: none

fix boost include resolving on macOS
  lang/CMakeLists.txt
  server/plugins/CMakeLists.txt
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
Due: none

cmake: add search paths to FindSndfile.cmake
  cmake_modules/FindSndfile.cmake
Due: none

fix BufRd interpolation documentation
  HelpSource/Classes/BufRd.schelp
Due: sc_empty_blank_lines

PathName.schelp 업데이트
  HelpSource/Classes/PathName.schelp
Due: sc_empty_blank_lines

reflect reviews
  HelpSource/Classes/PathName.schelp
  SCClassLibrary/Common/Files/PathName.sc
Due: sc_empty_blank_lines

Update PathName.sc
  HelpSource/Classes/PathName.schelp
  SCClassLibrary/Common/Files/PathName.sc
Due: sc_empty_blank_lines

revert
  HelpSource/Classes/SCImage.schelp
Due: sc_empty_blank_lines

Update View.schelp
  HelpSource/Classes/View.schelp
Due: sc_empty_blank_lines

Remove legacy Cocoa GUI documentation (SCImage, SCImageFilter, etc.)
  HelpSource/Classes/SCContainerView.schelp
  HelpSource/Classes/SCDragView.schelp
  HelpSource/Classes/SCEnvelopeEdit.schelp
  HelpSource/Classes/SCImage.schelp
  HelpSource/Classes/SCImageFilter.schelp
  HelpSource/Classes/SCImageKernel.schelp
Due: sc_empty_blank_lines

ide: remove \r when posting on Windows
  editors/sc-ide/core/sc_process.cpp
Due: clang_format, clang_lint

Revert "ide: remove \r when posting on Windows"
  editors/sc-ide/core/sc_process.cpp
Due: clang_format, clang_lint

Update sc_process.cpp
  editors/sc-ide/core/sc_process.cpp
Due: clang_format, clang_lint

Fix missing code formatting for 'this' in Classes.schelp
  HelpSource/Reference/Classes.schelp
Due: sc_empty_blank_lines

qt6: update type to typeId
  QtCollider/QObjectProxy.cpp
  QtCollider/QcSignalSpy.h
  QtCollider/widgets/QcGraph.cpp
  editors/sc-ide/core/settings/serialization.cpp
  editors/sc-ide/widgets/multi_editor.cpp
Due: clang_format, clang_lint

help: add deprecated argument note to Window help
  HelpSource/Classes/Window.schelp
Due: sc_empty_blank_lines

add editorconfig checker to pre-commit
  .pre-commit-config.yaml
Due: none

ignore external_libraries folder in .editorconfig
  .editorconfig
Due: none

switch CMakeLists indentation to spaces in editorconfig
  .editorconfig
Due: none

init .editorconfig-checker.json
  .editorconfig-checker.json
Due: none

change order of editorconfig ignore
  .editorconfig
Due: none

re-indent CMakeLists files with 4 spaces
  CMakeLists.txt
  QtCollider/CMakeLists.txt
  SCDoc/CMakeLists.txt
  editors/CMakeLists.txt
  editors/sc-ide/CMakeLists.txt
  lang/CMakeLists.txt
  langutils/sc_lexer/CMakeLists.txt
  platform/CMakeLists.txt
  platform/linux/CMakeLists.txt
  platform/windows/CMakeLists.txt
  server/CMakeLists.txt
  server/plugins/CMakeLists.txt
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
  testsuite/interpreter/CMakeLists.txt
  testsuite/server/CMakeLists.txt
  testsuite/server/plugins/CMakeLists.txt
  testsuite/server/supernova/CMakeLists.txt
Due: none

ignore re-indentation of CMakeLists via git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

fix line endings on various files
  SCDoc/SCDoc.l
  platform/mac/Standalone Resources/English.lproj/Credits.rtf
  platform/mac/Standalone Resources/English.lproj/MainMenu.nib/classes.nib
  platform/windows/Resources/scide.rc
  platform/windows/Resources/sclang.rc
Due: none

ignore fix line ending on various file commit via git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

fix cmake list for wasm build
  server/scsynth/CMakeLists.txt
Due: none

gha: update macOS build to qt 6.8.3
  .github/workflows/build_macos.yml
  README.md
Due: none

Update editor_page.cpp
  editors/sc-ide/widgets/settings/editor_page.cpp
Due: clang_format, clang_lint
