Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

Add squircle IDE icon for macOS
  editors/sc-ide/CMakeLists.txt
  icons/.gitignore
  icons/README.md
  icons/sc_ide.icon/Assets/sc_ide.svg
  icons/sc_ide.icon/icon.json
  icons/sc_ide_squircle/Assets.car
  icons/sc_ide_squircle/sc_ide.icns
Due: none

SC_PlugIn.hpp: change in, zin, etc. to take uint32s (#7742)
  include/plugin_interface/SC_InterfaceTable.h
  include/plugin_interface/SC_PlugIn.hpp
Due: clang_format, clang_lint

move 'defer' class to its own header
  common/sc_defer.hpp
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

classlib/plugins/help: Remove RandID 'force' arg; RandID.kr sets on every block
  HelpSource/Classes/RandID.schelp
  SCClassLibrary/Common/Audio/Noise.sc
  server/plugins/NoiseUGens.cpp
  testsuite/classlibrary/TestNoiseUGens.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

Plugins: Whitespace change (delete newline in RandID struct)
  server/plugins/NoiseUGens.cpp
Due: clang_format, clang_lint

Help: Remove a trailing blank line
  HelpSource/Classes/RandID.schelp
Due: sc_empty_blank_lines

Testsuite: No idea how the IDE messed up whitespace in two lines
  testsuite/classlibrary/TestNoiseUGens.sc
Due: sc_empty_blank_lines

Help: Restore pipe syntax in RandID.schelp
  HelpSource/Classes/RandID.schelp
Due: sc_empty_blank_lines

sclang: rework terminal client
  QtCollider/LanguageClient.cpp
  editors/sc-ide/core/sc_process.cpp
  include/lang/SC_LanguageClient.h
  lang/LangSource/SC_LanguageClient.cpp
  lang/LangSource/SC_TerminalClient.cpp
  lang/LangSource/SC_TerminalClient.h
Due: clang_format, clang_lint

sclang: add setCanCallOS()
  QtCollider/Common.cpp
  lang/LangPrimSource/PyrSerialPrim.cpp
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/SCBase.h
  lang/LangSource/SC_LanguageClient.cpp
  lang/LangSource/VMGlobals.h
Due: clang_format, clang_lint

sclang: add setCanCallOS() (#7748)
  QtCollider/Common.cpp
  lang/LangPrimSource/PyrSerialPrim.cpp
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/SCBase.h
  lang/LangSource/SC_LanguageClient.cpp
  lang/LangSource/VMGlobals.h
Due: clang_format, clang_lint

small formatting and small minor bug fixes
  SCClassLibrary/Common/Core/Error.sc
  SCClassLibrary/Common/Core/Kernel.sc
  testsuite/sclangErrorRegressions/ErrorGenerator.sc
Due: sc_empty_blank_lines

address review
  .github/workflows/sclang_error_regression.yml
  HelpSource/Classes/Error.schelp
  HelpSource/Classes/ErrorWrapper.schelp
  SCClassLibrary/Common/Core/Error.sc
  lang/LangSource/PyrSlot.h
  testsuite/sclangErrorRegressions/regression.txt
Due: clang_format, clang_lint, sc_empty_blank_lines

fix Platform.systemInformation on Windows
  SCClassLibrary/Platform/windows/WindowsPlatform.sc
Due: sc_empty_blank_lines

add `Platform.postBugReportInfo` instruction
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix Platform.systemInformation on Windows (#7750)
  SCClassLibrary/Platform/windows/WindowsPlatform.sc
Due: sc_empty_blank_lines

rework error wrapper
  SCClassLibrary/Common/Core/Error.sc
  testsuite/sclangErrorRegressions/generateError.scd
  testsuite/sclangErrorRegressions/regression.txt
Due: sc_empty_blank_lines

add vscode task to recreate error regression file
  .vscode/tasks.json
Due: none

remove comments
  SCClassLibrary/Common/Core/Error.sc
Due: sc_empty_blank_lines

reflect review
  lang/LangSource/GC.cpp
  lang/LangSource/GC.h
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrKernel.h
Due: clang_format, clang_lint

insert missing is closed in partial application functions
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint

sclang/classlib: make compiler errors throw in sclang.
  .vscode/tasks.json
  SCClassLibrary/Common/Core/Error.sc
  SCClassLibrary/Common/Core/Kernel.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/Bison/lang11d
  lang/LangSource/Bison/lang11d_tab.cpp
  lang/LangSource/CompilerContext.cpp
  lang/LangSource/CompilerContext.hpp
  lang/LangSource/PyrLexer.cpp
  lang/LangSource/PyrParseNode.cpp
  testsuite/sclangErrorRegressions/generateError.scd
  testsuite/sclangErrorRegressions/regression.txt
Due: clang_format, clang_lint, sc_empty_blank_lines

Update HelpBrowser.sc
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

move to cmake
  .vscode/tasks.json
  testsuite/CMakeLists.txt
  testsuite/sclangErrorRegressions/CMakeLists.txt
  testsuite/sclangErrorRegressions/generateError.scd
Due: sc_empty_blank_lines

revise code
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
Due: sc_empty_blank_lines

reflect reviews
  SCClassLibrary/Common/GUI/tools/HelpBrowser.sc
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

sclang: implement reference counting for frames.
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/Core/Kernel.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/GC.cpp
  lang/LangSource/GC.h
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrKernel.h
  lang/LangSource/PyrMessage.cpp
  lang/LangSource/PyrObject.cpp
  lang/LangSource/PyrParseNode.cpp
  testsuite/sclang/gc_frame_error.scd
Due: clang_format, clang_lint, sc_empty_blank_lines

docs: add a line explaining how Frame can no longer be accessed
  HelpSource/Classes/Frame.schelp
Due: sc_empty_blank_lines

move inline to the correct place
  lang/LangSource/GC.h
  lang/LangSource/PyrKernel.h
Due: clang_format, clang_lint

sclang: introduce granular safety flags and a new assert.
  CMakeLists.txt
  common/sc_assert.h.in
  lang/CMakeLists.txt
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrSlot.h
Due: clang_format, clang_lint

remove debug functionality, it isn't possible to access a frame any more
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/Core/Kernel.sc
  testsuite/sclang/gc_frame_error.scd
Due: sc_empty_blank_lines

sclang: implement reference counting for frames. (#7737)
  HelpSource/Classes/Frame.schelp
  SCClassLibrary/Common/Core/Function.sc
  SCClassLibrary/Common/Core/Kernel.sc
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangSource/GC.cpp
  lang/LangSource/GC.h
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrKernel.h
  lang/LangSource/PyrMessage.cpp
  lang/LangSource/PyrObject.cpp
  lang/LangSource/PyrParseNode.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

Quark.sc: open old help files in the HelpBrowser
  SCClassLibrary/Common/Quarks/Quark.sc
Due: sc_empty_blank_lines

sclang: fix setCanCallOS()
  lang/LangSource/SC_LanguageClient.cpp
Due: clang_format, clang_lint

sclang: fix wrong call to setCanCallOS() in PrySerialPrim::runCommand
  lang/LangPrimSource/PyrSerialPrim.cpp
Due: clang_format, clang_lint

sclang: small improvements in PyrSerialPrim
  lang/LangPrimSource/PyrSerialPrim.cpp
Due: clang_format, clang_lint

classlib: add args and kwargs to Interpreter.executeFile and String.load (#7291)
  HelpSource/Classes/Interpreter.schelp
  HelpSource/Classes/String.schelp
  SCClassLibrary/Common/Collections/String.sc
  SCClassLibrary/Common/Core/Kernel.sc
  testsuite/classlibrary/TestString.sc
  testsuite/classlibrary/assets/TestString.scd
Due: sc_empty_blank_lines

fix `setCanCallOS` + Serial primitive (#7758)
  lang/LangPrimSource/PyrSerialPrim.cpp
  lang/LangSource/SC_LanguageClient.cpp
Due: clang_format, clang_lint

Display method docs in autocomplete menu (#7632)
  editors/sc-ide/widgets/code_editor/autocompleter.cpp
  editors/sc-ide/widgets/code_editor/autocompleter.hpp
  editors/sc-ide/widgets/code_editor/completion_menu.cpp
  editors/sc-ide/widgets/code_editor/completion_menu.hpp
Due: clang_format, clang_lint
