Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

make libname, dir, mdPlugin, \global easy to read
  HelpSource/Classes/SynthDef.schelp
Due: sc_empty_blank_lines

Replace misleading/faulty bend example
  HelpSource/Classes/MIDIOut.schelp
Due: sc_empty_blank_lines

missing ;'s
  HelpSource/Classes/MIDIOut.schelp
Due: sc_empty_blank_lines

Add /g_dumpTree unit tests
  testsuite/classlibrary/TestServer_dumpTree.sc
Due: sc_empty_blank_lines

Refactor unit tests
  testsuite/classlibrary/TestServer_dumpTree.sc
Due: sc_empty_blank_lines

Added link to Overviews/MidiPatterns
  HelpSource/Classes/MIDIOut.schelp
Due: sc_empty_blank_lines

Address PR comments
  testsuite/classlibrary/TestServer_dumpTree.sc
Due: sc_empty_blank_lines

Address PR comments
  server/supernova/sc/sc_osc_handler.cpp
Due: clang_format, clang_lint

Replace manual numbered lists with numberedlist tag.
  HelpSource/Classes/Server.schelp
  HelpSource/Guides/Level_Compensation.schelp
  HelpSource/Guides/UserFAQ.schelp
  HelpSource/Guides/WritingTests.schelp
Due: sc_empty_blank_lines

Replace the manual list with a list tag, or note when there is only one list item.
  HelpSource/Guides/UserFAQ.schelp
  HelpSource/Guides/UsingMIDI.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_03_What_Is_Pbind.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_04_Words_to_Phrases.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_08_Event_Types_and_Parameters.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_Cookbook06_Phrase_Network.schelp
  HelpSource/Tutorials/A-Practical-Guide/PG_Ref01_Pattern_Internals.schelp
  HelpSource/Tutorials/Getting-Started/16-Sequencing-with-Patterns.schelp
Due: sc_empty_blank_lines

Classlib: DoesNotUnderstandError: Do not do method fuzzy matching until needed
  SCClassLibrary/Common/Core/Error.sc
Due: sc_empty_blank_lines

Update String.schelp
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

Help: InitializationSample: add docs
  HelpSource/Classes/InitializationSample.schelp
Due: sc_empty_blank_lines

plugins: add InitializationSample to test init samples
  SCClassLibrary/Common/Audio/Trig.sc
  server/plugins/TriggerUGens.cpp
  testsuite/classlibrary/TestUGen_initSample.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

classlib: InitializationSample: make it a PureUGen
  SCClassLibrary/Common/Audio/Trig.sc
Due: sc_empty_blank_lines

TestUGen_initSample: refactor and renames
  testsuite/classlibrary/TestUGen_initSample.sc
Due: sc_empty_blank_lines

SCLANG: add fast Hungarian Algorithm solving
  SCClassLibrary/Common/Collections/Array.sc
  lang/LangPrimSource/PyrArrayPrimitives.cpp
  lang/LangPrimSource/SC_Hungarian.h
Due: clang_format, clang_lint, sc_empty_blank_lines

Add help
  HelpSource/Classes/Array.schelp
Due: sc_empty_blank_lines

GHA: Update macOS legacy build runner
  .github/workflows/build_macos.yml
Due: none

Apply C++ formatting changes requested by linter.
  lang/LangPrimSource/PyrArrayPrimitives.cpp
  lang/LangPrimSource/SC_Hungarian.h
Due: clang_format, clang_lint

Add UnitTests
  testsuite/classlibrary/TestArray.sc
Due: sc_empty_blank_lines

Update help with musical example.
  HelpSource/Classes/Array.schelp
Due: sc_empty_blank_lines

Make the voice-leading example a little more fun
  HelpSource/Classes/Array.schelp
Due: sc_empty_blank_lines

Scramble order of notes in example so it's less trivial
  HelpSource/Classes/Array.schelp
Due: sc_empty_blank_lines

adjust layout
  HelpSource/Classes/Array.schelp
Due: sc_empty_blank_lines

docs/reference/iteration update: explain break, more details re .repeat/loop
  HelpSource/Reference/iteration.schelp
Due: sc_empty_blank_lines

punctuation and such
  HelpSource/Reference/iteration.schelp
Due: sc_empty_blank_lines

Correct 'en dash' (–) to 'hyphen' (-)
  HelpSource/Guides/ObjectPrototyping.schelp
  HelpSource/Guides/WritingClasses.schelp
  HelpSource/Reference/Functions.schelp
Due: sc_empty_blank_lines

Correct 'en dash' (–) to 'em dash' (—)
  HelpSource/Classes/ArrayedCollection.schelp
  HelpSource/Classes/Buffer.schelp
  HelpSource/Classes/Interpreter.schelp
  HelpSource/Classes/LFGauss.schelp
  HelpSource/Classes/LocalBuf.schelp
  HelpSource/Classes/SinOsc.schelp
  HelpSource/Guides/News-3_14.schelp
  HelpSource/Tutorials/Getting-Started/11-Busses.schelp
Due: sc_empty_blank_lines

Correct `.—` to `. —`
  HelpSource/Classes/ArrayedCollection.schelp
Due: sc_empty_blank_lines

Fix spaces
  HelpSource/Classes/Buffer.schelp
  HelpSource/Classes/Decay.schelp
  HelpSource/Classes/Delay1.schelp
  HelpSource/Classes/Delay2.schelp
  HelpSource/Classes/Interpreter.schelp
  HelpSource/Classes/LFGauss.schelp
  HelpSource/Classes/LocalBuf.schelp
  HelpSource/Classes/Nil.schelp
  HelpSource/Classes/SinOsc.schelp
  HelpSource/Guides/News-3_14.schelp
  HelpSource/Help.schelp
  HelpSource/Tutorials/Getting-Started/11-Busses.schelp
Due: sc_empty_blank_lines

build: cleanup portaudio cmake integration
  cmake_modules/FindPortaudio.cmake
  external_libraries/portaudio/CMakeLists.txt
  lang/CMakeLists.txt
  server/scsynth/CMakeLists.txt
  server/supernova/CMakeLists.txt
Due: none

add NSMotionUsageDescription allows to access positional tracking data from connected AirPods on macOS via external UGens
  cmake_modules/MacOSXBundleInfo.plist.in
Due: none

TaskProxyGui: fix tab stops
  SCClassLibrary/JITLib/GUI/TaskProxyGui.sc
Due: sc_empty_blank_lines

tests: remove arbitrary waits in TestFilterUGens
  testsuite/classlibrary/TestFilterUGens.sc
Due: sc_empty_blank_lines

Update CHANGELOG.md
  CHANGELOG.md
Due: none

typos etc
  HelpSource/Reference/iteration.schelp
Due: sc_empty_blank_lines
