Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

clang_format:
  name: Format C++ code
  entry: python tools/clang-format.py format
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

clang_lint:
  name: Lint C++ code
  entry: python tools/clang-format.py lint
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

sc_empty_blank_lines:
  name: Check trailing blank lines in sclang
  entry: python tools/remove_trailing_blank_lines.py
  pass_filenames: true
  language: python

Update UsingQuarks.schelp
  HelpSource/Guides/UsingQuarks.schelp
Due: sc_empty_blank_lines

Add a warning for users
  HelpSource/Guides/UsingQuarks.schelp
Due: sc_empty_blank_lines

initial commit
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

make heading sticky but collapse upon scrolling
  HelpSource/static/scdoc.css
  HelpSource/static/scdoc.js
Due: none

bump scdoc version
  SCClassLibrary/SCDoc/SCDoc.sc
Due: sc_empty_blank_lines

typo correctioin
  HelpSource/Classes/SortedList.schelp
Due: sc_empty_blank_lines

lotsa changes
  SCClassLibrary/Common/Collections/Histogram.sc
  testsuite/classlibrary/TestHistogram.sc
Due: sc_empty_blank_lines

more changes, basic doc
  HelpSource/Classes/Histogram.schelp
  SCClassLibrary/Common/Collections/Histogram.sc
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

add header to anchor offset height
  HelpSource/static/scdoc.css
Due: none

Update README.md
  README.md
Due: none

gaps aliasing fix
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

testsuite in CI: run tests on Ubuntu 26.04
  .github/workflows/build_linux.yml
  .github/workflows/test_linux.yml
  README.md
Due: none

gha: switch gcc 11 built to Ubuntu 24.04
  .github/workflows/build_linux.yml
Due: none

gha: add Windows MSVC 2026 build
  .github/workflows/build_windows.yml
Due: none

Fix percent‑sign formatting in `Recorder` logs to avoid Symbol `.openOS` errors
  SCClassLibrary/Common/Control/Recorder.sc
Due: sc_empty_blank_lines

fix dangling connection for tcp disconnect on scsynth
  server/scsynth/SC_ComPort.cpp
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

plugins: Median: clip length to 1 to fix out-of-bounds server crash
  HelpSource/Classes/Median.schelp
  server/plugins/FilterUGens.cpp
  testsuite/classlibrary/TestFilterUGens.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

tests: Median: use server.sync instead of a fixed wait
  testsuite/classlibrary/TestFilterUGens.sc
Due: sc_empty_blank_lines

catch possible exception of socket.close
  server/scsynth/SC_ComPort.cpp
Due: clang_format, clang_lint

refactoring client manager to have only a single map instead of 3 members which have to be kept in sync
  common/SC_Reply.cpp
  common/SC_ReplyImpl.hpp
  include/common/SC_Reply.h
  lang/LangPrimSource/OSCData.cpp
  server/scsynth/SC_ClientManager.h
  server/scsynth/SC_ComPort.cpp
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_SequencedCommand.h
  server/scsynth/SC_WebAudio.cpp
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

improve documentation of SC_ClientManager
  server/scsynth/SC_ClientManager.h
Due: clang_format, clang_lint

replace addClient and addClientId with registerClient method
  server/scsynth/SC_ClientManager.h
  server/scsynth/SC_SequencedCommand.cpp
Due: clang_format, clang_lint

fix password setup for server
  server/scsynth/SC_ClientManager.h
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

init client manager
  server/scsynth/CMakeLists.txt
  server/scsynth/SC_ClientManager.cpp
  server/scsynth/SC_ClientManager.h
Due: clang_format, clang_lint

replace World_RemoveClient with ClientManager::removeClientDefer
  server/scsynth/SC_ClientManager.cpp
  server/scsynth/SC_ClientManager.h
  server/scsynth/SC_ComPort.cpp
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

do not expose clientIDdict anymore but provide a getter wrapper
  server/scsynth/SC_ClientManager.h
  server/scsynth/SC_SequencedCommand.cpp
Due: clang_format, clang_lint

move mMaxUsers from hidden world to client manager
  server/scsynth/SC_ClientManager.h
  server/scsynth/SC_HiddenWorld.h
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

add delete for client manager from hidden world upon destruction
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

move password from hidden world to client manager
  server/scsynth/SC_ClientManager.h
  server/scsynth/SC_ComPort.cpp
  server/scsynth/SC_HiddenWorld.h
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

move ClientIDDict, ClientIDs and Clients from hidden world to client manager
  server/scsynth/SC_ClientManager.h
  server/scsynth/SC_GraphDef.cpp
  server/scsynth/SC_HiddenWorld.h
  server/scsynth/SC_SequencedCommand.cpp
  server/scsynth/SC_World.cpp
Due: clang_format, clang_lint

remove equal assignment for nullopt of mPassword
  server/scsynth/SC_ClientManager.h
Due: clang_format, clang_lint

change order of class members to improve padding
  server/scsynth/SC_ClientManager.h
Due: clang_format, clang_lint

make password check a ternary
  server/scsynth/SC_ClientManager.h
Due: clang_format, clang_lint

Path conditions:
  clang_format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang_lint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  sc_empty_blank_lines: any of: \.sc((d|help)?)$
