Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

clang_format:
  name: Format C++ code
  entry: python tools/clang-format.py format
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

clang_lint:
  name: Lint C++ code
  entry: python tools/clang-format.py lint
  pass_filenames: false
  language: python
  additional_dependencies:
  - clang-format==14.0.6

sc_empty_blank_lines:
  name: Check trailing blank lines in sclang
  entry: python tools/remove_trailing_blank_lines.py
  pass_filenames: true
  language: python

Plotter: fix data selection for hold-like display modes
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

Grid: allow more clearance for the width estimate of a string's bounding rect
  SCClassLibrary/Common/GUI/Base/Grid.sc
Due: sc_empty_blank_lines

Plotter: center data points for steplike display modes
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

Plotter: add new plot modes
  HelpSource/Classes/Plotter.schelp
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

Plotter: fix incorrect domainPad when first domain value is 0
  SCClassLibrary/Common/GUI/PlusGUI/Math/PlotView.sc
Due: sc_empty_blank_lines

Help: Plotter: add warning about hold-like data display
  HelpSource/Classes/Plotter.schelp
Due: sc_empty_blank_lines

more (too many?) tests for SimpleNumber.series
  testsuite/classlibrary/TestSimpleNumber.sc
Due: sc_empty_blank_lines

Fix size calculation yet again
  lang/LangPrimSource/PyrMathPrim.cpp
  testsuite/classlibrary/TestSimpleNumber.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

Signal.hammingWindow size fix
  SCClassLibrary/Common/Math/Signal.sc
Due: sc_empty_blank_lines

Allows multiple line string
  HelpSource/static/editor.js
Due: none

TempoClock.beats_ forward to TempoClock.default.beats_
  SCClassLibrary/Common/Core/Clock.sc
Due: sc_empty_blank_lines

SCLang: implement NaN tagging slotting
  QtCollider/primitives/prim_QImage.cpp
  QtCollider/type_codec.cpp
  QtCollider/type_codec.hpp
  lang/LangPrimSource/OSCData.cpp
  lang/LangPrimSource/PyrCharPrim.cpp
  lang/LangPrimSource/PyrFilePrim.cpp
  lang/LangPrimSource/PyrMathPrim.cpp
  lang/LangPrimSource/PyrPrimitive.cpp
  lang/LangPrimSource/PyrSignalPrim.cpp
  lang/LangSource/PyrInterpreter3.cpp
  lang/LangSource/PyrMathOps.cpp
  lang/LangSource/PyrObject.cpp
  lang/LangSource/PyrObject.h
  lang/LangSource/PyrParseNode.cpp
  lang/LangSource/PyrSignal.cpp
  lang/LangSource/PyrSignal.h
  lang/LangSource/PyrSlot.h
  lang/LangSource/PyrSlot32.h
  lang/LangSource/PyrSlot64.h
  lang/LangSource/PyrSymbol.h
  testsuite/CMakeLists.txt
  testsuite/classlibrary/TestFloat.sc
  testsuite/interpreter/CMakeLists.txt
  testsuite/interpreter/slot.cpp
Due: clang_format, clang_lint, sc_empty_blank_lines

replace add with send; remove .new
  HelpSource/Guides/UGens-and-Synths.schelp
Due: sc_empty_blank_lines

Fix incorrect code
  HelpSource/Tutorials/Mark_Polishook_tutorial/05_The_network.schelp
Due: sc_empty_blank_lines

Update jitlib_fading.schelp
  HelpSource/Tutorials/JITLib/jitlib_fading.schelp
Due: sc_empty_blank_lines

cmake: hide inline function visibility
  CMakeLists.txt
Due: none

TestServer_clientID_booted: increase timeouts
  testsuite/classlibrary/TestServer_clientID_booted.sc
Due: sc_empty_blank_lines

test_oscillators_startAtCorrectPhase: add target
  testsuite/classlibrary/TestCoreUGens.sc
Due: sc_empty_blank_lines

bump version to 3.14.1-rc1
  SCVersion.txt
Due: none

Changelog: update for 3.14.1-rc1
  CHANGELOG.md
  HelpSource/Guides/News-3_14.schelp
Due: sc_empty_blank_lines

bump version to 3.14.1-rc2
  SCVersion.txt
Due: none

Recorder: fix node default for use with non-default servers
  HelpSource/Classes/Recorder.schelp
  SCClassLibrary/Common/Control/Recorder.sc
Due: sc_empty_blank_lines

Changed server.asTarget to RootNode(server)
  SCClassLibrary/Common/Control/Recorder.sc
Due: sc_empty_blank_lines

Recorder.prRecord: default node: replace integer 0 with RootNode(server)
  SCClassLibrary/Common/Control/Recorder.sc
Due: sc_empty_blank_lines

revert classlib change here (moved to another PR)
  SCClassLibrary/Common/Control/Recorder.sc
Due: sc_empty_blank_lines

bump version to 3.14.1
  SCVersion.txt
Due: none

bump appstream to 3.14.1
  platform/linux/online.supercollider.SuperCollider.metainfo.xml
Due: none

docs: clarify keyword argument fix
  CHANGELOG.md
  HelpSource/Guides/News-3_14.schelp
Due: sc_empty_blank_lines

docs: update changelog with clarification on boost
  CHANGELOG.md
  HelpSource/Guides/News-3_14.schelp
Due: sc_empty_blank_lines

supernova: clean up libatomic linking
  server/supernova/CMakeLists.txt
Due: none

build: remove redundant flags for supernova
  server/supernova/CMakeLists.txt
Due: none

build: compile options cleanup
  CMakeLists.txt
Due: none

remove redundant flags
  CMakeLists.txt
Due: none

Update CMakeLists.txt
  CMakeLists.txt
Due: none

cmake: hide function visibility
  CMakeLists.txt
  server/plugins/CMakeLists.txt
Due: none

build: remove Intel compiler flags
  CMakeLists.txt
Due: none

cmake: set/update compiler hardware optimizations
  .github/workflows/build_macos.yml
  CMakeLists.txt
  README_LINUX.md
  README_MACOS.md
  README_WINDOWS.md
Due: none

Update README_BELA.md
  README_BELA.md
Due: none

PyrObject: add MSVC hints
  lang/LangSource/PyrObject.cpp
Due: clang_format, clang_lint

Path conditions:
  clang_format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  clang_lint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  sc_empty_blank_lines: any of: \.sc((d|help)?)$
