Repository supercollider/supercollider: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang_format, clang_lint, sc_empty_blank_lines

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-case-conflict
-   repo: local
    hooks:
    -   id: clang_format
        name: Format C++ code
        entry: python tools/clang-format.py format
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: clang_lint
        name: Lint C++ code
        entry: python tools/clang-format.py lint
        pass_filenames: false
        types_or:
          - "c++"
        language: python
        additional_dependencies: ['clang-format==14.0.6']
    -   id: sc_empty_blank_lines
        name:  Check trailing blank lines in sclang
        entry: python tools/remove_trailing_blank_lines.py
        pass_filenames: true
        files: '\.sc((d|help)?)$'
        language: python

classlib: nodeproxy: init filter role inside a synthdef
  SCClassLibrary/JITLib/ProxySpace/wrapForNodeProxy.sc
Due: sc_empty_blank_lines

classlib: NodeMap implements unmap, so we expact map, even if this is a synonym
  HelpSource/Classes/NodeMap.schelp
  SCClassLibrary/JITLib/ProxySpace/NodeMap.sc
Due: sc_empty_blank_lines

remove empty categories in CHANGELOG.md
  CHANGELOG.md
Due: none

revert adding empty sections within changelog.md
  CHANGELOG.md
Due: none

Update String.schelp
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

add phasor github link + RunningMax/Min tests
  testsuite/classlibrary/TestUGen_initSample.sc
Due: sc_empty_blank_lines

a lil extra
  HelpSource/Classes/String.schelp
Due: sc_empty_blank_lines

tests: disable process creation tests on windows
  testsuite/scripts/test_run_proto_gha.scd
Due: sc_empty_blank_lines

Remove scale degrees subsection from Literals.schelp
  HelpSource/Reference/Literals.schelp
Due: sc_empty_blank_lines

Link to Pchain helpfile
  HelpSource/Classes/MIDIOut.schelp
Due: sc_empty_blank_lines

Fix typo in iteration.schelp regarding loop syntax
  HelpSource/Reference/iteration.schelp
Due: sc_empty_blank_lines

Update SCDocRenderer.sc
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Due: sc_empty_blank_lines

add dependabot Adds dependabot for github actions. Closses #7163
  .github/dependabot.yml
Due: none

plugins: add BufIn to read samples as flat array
  HelpSource/Classes/BufIn.schelp
  SCClassLibrary/Common/Audio/BufIO.sc
  server/plugins/DelayUGens.cpp
  testsuite/classlibrary/TestBufUGens.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

Add automatic numbering system for tables, figures, formulae, code snippets, post windows, and score in SCDoc
  HelpSource/static/indexmanager.js
  SCClassLibrary/SCDoc/SCDocRenderer.sc
Due: sc_empty_blank_lines

plugins: BufIn: fix indices + more docs and tests
  HelpSource/Classes/BufIn.schelp
  server/plugins/DelayUGens.cpp
  testsuite/classlibrary/TestBufUGens.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

plugins: BufIn: add .ar method
  HelpSource/Classes/BufIn.schelp
  SCClassLibrary/Common/Audio/BufIO.sc
  server/plugins/DelayUGens.cpp
  testsuite/classlibrary/TestBufUGens.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

plugins: BufIn: fix test warning + add const for optim
  server/plugins/DelayUGens.cpp
  testsuite/classlibrary/TestBufUGens.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

Fix Scale.degreeToRatio for cent-offset / accidentals
  SCClassLibrary/Common/Collections/Scale.sc
Due: sc_empty_blank_lines

Document behavior of scale degree literals and Scale.degreeToRatio
  HelpSource/Classes/Scale.schelp
  HelpSource/Reference/Literals.schelp
Due: sc_empty_blank_lines

uh
  HelpSource/Classes/Scale.schelp
Due: sc_empty_blank_lines

Remove GITHUB_TOKEN from actions.yml
  .github/workflows/actions.yml
Due: none

extend index manager to various cases
  HelpSource/static/indexmanager.js
Due: none

Update ClientVsServer.schelp
  HelpSource/Guides/ClientVsServer.schelp
Due: sc_empty_blank_lines

Reflect Reviews: Automatically Replace Link Texts with Generated Numbers
  HelpSource/Guides/ClientVsServer.schelp
  HelpSource/static/indexmanager.js
Due: sc_empty_blank_lines

tests: use actual booleans in the proto file
  testsuite/scripts/test_run_proto_gha.scd
Due: sc_empty_blank_lines

test runner: use the boolean value directly
  testsuite/scripts/sclang_test_runner.scd
Due: sc_empty_blank_lines

plugins: BufIn: add 'channel' arg
  HelpSource/Classes/BufIn.schelp
  SCClassLibrary/Common/Audio/BufIO.sc
  server/plugins/DelayUGens.cpp
  testsuite/classlibrary/TestBufUGens.sc
Due: clang_format, clang_lint, sc_empty_blank_lines

[tests] fix test runner Lists management
  testsuite/scripts/sclang_test_runner.scd
Due: sc_empty_blank_lines

Correct typo to prevent rendering error
  HelpSource/Classes/MIDIOut.schelp
Due: sc_empty_blank_lines

restore examples for "trailing arg block syntax"
  HelpSource/Reference/Conditional-Execution.schelp
Due: sc_empty_blank_lines

Update Conditional-Execution.schelp
  HelpSource/Reference/Conditional-Execution.schelp
Due: sc_empty_blank_lines

revert linebreaks in iteration.schelp
  HelpSource/Reference/iteration.schelp
Due: sc_empty_blank_lines

[gha] Update ASIO SDK extraction
  .github/workflows/build_windows.yml
Due: none

[build] guard homebrew qt deployment fix
  editors/sc-ide/CMakeLists.txt
Due: none

Explain relevance to music; improve musical example.
  HelpSource/Classes/Array.schelp
Due: sc_empty_blank_lines

Improve and simplify musical example
  HelpSource/Classes/Array.schelp
Due: sc_empty_blank_lines

Clarify documentation for RingBuffer class
  HelpSource/Classes/RingBuffer.schelp
Due: sc_empty_blank_lines
